<template>
    <div id="Home">
        <div class="container-fluid">
            <div class="holderbanner">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <a href="/Store">
                            <div class="banner-icon">
                                <img src="/img/banner/44-01.png" alt="" class="bannerimg">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a href="/IncomePlan">
                            <div class="banner-icon">
                                <img src="/img/banner/33-01.png" alt="" class="bannerimg">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a href="/ShoppingHelp">
                            <div class="banner-icon">
                                <img src="/img/banner/22-01.png" alt="" class="bannerimg">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a href="/Privacy">
                            <div class="banner-icon">
                                <img src="/img/banner/11-01.png" alt="" class="bannerimg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Banner.vue"
    }
</script>

<style scoped>

</style>