<template>
    <div id="Blog" class="padding height">
        <div class="container-fluid text-right height">
            <div class="row height">
                <div class="col-sm-9 col-8 pt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="main-title"><i class="fa fa-marker pl-1"></i>مقالات وبلاگ</p>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div v-if="!Articles.length" class="col-12 text-center">
                                        مقاله ای موجود نیست
                                    </div>
                                    <div class="col-md-4 col-12" v-for="article in Articles">
                                        <div class="box" @click="OpenArticle(article.id)">
                                            <div v-if="article.imgUrl != null" class="img-div">
                                                <img class="image" :src="article.imgUrl">
                                            </div>
                                            <div v-else class="img-div">
                                                <!--فاقد تصویر-->
                                                <img class="image" src="/img/store/3828.jpg">
                                            </div>
                                            <h5 class="title text-center pt-2 pb-2">{{article.title}}</h5>
                                            <p class="text" v-html="article.description"></p>
                                            <div class="text-center">...</div>
                                            <a><p class="text-right continue font-weight-bold">ادامه مطلب</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-4 pl-0 pr-0">
                    <div class="side-bar">
                        <ul class="">
                            <li class="p-4">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                                <input class="form-control search-input" type="search" v-model="searchQuery">
                            </li>
                            <li v-if="!searchQuery" v-for="title in Articles">
                               <div style="cursor:pointer" @click="OpenByTitle(title.id)">{{title.title}}</div>
                            </li>
                            <li v-if="searchQuery" v-for="item in filteredResources">
                            <div style="cursor:pointer" @click="OpenByTitle(item.id)">{{item.title}}</div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Blog",
        data() {
            return {
                Articles: [],
                searchQuery: ''
            }
        },
        methods: {
            GetArticles() {
                axios.get('/panel/Blog/list')
                    .then(response => this.Articles = response.data)
                    .catch(err => console.log(err))
                console.log(this.Articles)
            },
            OpenArticle(ID) {
                this.$router.push({name: 'SingleBlog', params: {id: ID}});
                window.location.reload();
            },
            OpenByTitle(ID) {
                this.$router.push({name: 'SingleBlog', params: {id: ID}});
                window.location.reload();
            }
        },
        created() {
            this.GetArticles();
        },
        computed: {
            filteredResources() {
                if (this.searchQuery) {
                    return this.Articles.filter((item) => {
                        return item.title.startsWith(this.searchQuery);
                    })
                } else {
                    return this.Articles;
                }
            }
        }
    }
</script>

<style scoped>

</style>