<template>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/ShoppingBasket">
           <i class="fa fa-shopping-cart carticonheader"></i>
            <span  class="number-of-basket">{{ $store.state.cartCount }}</span>
        </a>
    </div>
</template>
<script>
    export default {
        name: "Cart",
        data(){
            return{
                Basket:[],
                CartNumberArray:[],
                TotalCartNumber:''
            }
        },
        methods:{
            GetProducts(){
                axios.get('/Cart/list')
                    .then(response => {
                        this.Basket = response.data.cart;
                        console.log(this.Basket)
                        this.GetCartNumber();
                    })
                    .catch(err => console.log(err))
            },
            GetCartNumber() {
                for (let item of this.Basket) {
                    this.CartNumberArray.push(item.count);
                    this.TotalCartNumber = this.CartNumberArray.reduce((pv, cv) => pv + cv, 0);
                    this.$store.state.cartCount = this.TotalCartNumber;
                }

            },
        },

        created(){
            this.GetProducts();
            this.GetCartNumber();
        }
    }
</script>

<style scoped>

</style>