<template>
    <div id="Compare" class="padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pt-2 text-right">
                    <p class="text-right font-weight-bold">مشخصات کلی</p>
                </div>
                <div class="product">
                    <div class="container-fluid">
                        <div class="row top-section">
                            <div class="col-md-4">
                                <div class="product-img text-center">
                                    <img class="w-50" src="/img/store/3828.jpg">
                                </div>
                                <div class="product-title text-center pt-2">
                                    <p>کت و شلوار مدل 1</p>
                                </div>
                                <div class="product-price text-center pt-2">
                                    <p> 299,000 تومان</p>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="!select1">
                                <label class="w-100 text-center">انتخاب محصول</label>
                                <select class="form-control" @change="Compare1">
                                    <option selected disabled>انتخاب کنید</option>
                                    <option>کت و شلوار مدل 2</option>
                                    <option>کت و شلوار مدل 3</option>
                                </select>
                            </div>
                            <div class="col-md-4" v-if="select1">
                                <div class="product-img text-center">
                                    <img class="w-50" src="/img/store/9802.jpg">
                                </div>
                                <div class="product-title text-center pt-2">
                                    <p>کت و شلوار مدل 2</p>
                                </div>
                                <div class="product-price text-center pt-2">
                                    <p> 299,000 تومان</p>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="choose2">
                                <label class="w-100 text-center">انتخاب محصول</label>
                                <select class="form-control" @change="Compare2">
                                    <option selected disabled>انتخاب کنید</option>
                                    <option>کت و شلوار مدل 2</option>
                                    <option>کت و شلوار مدل 3</option>
                                </select>
                            </div>
                            <div class="col-md-4" v-if="select2">
                                <div class="product-img text-center">
                                    <img class="w-50" src="/img/store/10463.jpg">
                                </div>
                                <div class="product-title text-center pt-2">
                                    <p>کت و شلوار مدل 3</p>
                                </div>
                                <div class="product-price text-center pt-2">
                                    <p> 299,000 تومان</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>جنس</td>
                                        <td>کتان</td>
                                    </tr>
                                    <tr>
                                        <td>رنگ</td>
                                        <td>مشکی</td>
                                    </tr>
                                    <tr>
                                        <td>ضخامت</td>
                                        <td>4 میلی متر</td>
                                    </tr>

                                    <div class="w-100 text-center compare-add-to-basket">
                                        <button><i class="fa fa-shopping-bag pl-2"></i>افزودن به سبد خرید</button>
                                    </div>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4" v-if="select1">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>جنس</td>
                                        <td>ساتن</td>
                                    </tr>
                                    <tr>
                                        <td>رنگ</td>
                                        <td>کرم</td>
                                    </tr>
                                    <tr>
                                        <td>ضخامت</td>
                                        <td>7 میلی متر</td>
                                    </tr>
                                    <div class="w-100 text-center compare-add-to-basket">
                                        <button><i class="fa fa-shopping-bag pl-2"></i>افزودن به سبد خرید</button>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4" v-if="select2">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>جنس</td>
                                        <td>ساتن</td>
                                    </tr>
                                    <tr>
                                        <td>رنگ</td>
                                        <td>کرم</td>
                                    </tr>
                                    <tr>
                                        <td>ضخامت</td>
                                        <td>7 میلی متر</td>
                                    </tr>
                                    <div class="w-100 text-center compare-add-to-basket">
                                        <button><i class="fa fa-shopping-bag pl-2"></i>افزودن به سبد خرید</button>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CompareProduct",
        data() {
            return {
                select1: false,
                select2: false,
                choose2: false,
            }
        },
        methods: {
            Compare1() {
                this.select1 = true;
                this.choose2 = true;
            },
            Compare2() {
                this.choose2 = false;
                this.select2 = true;
            }
        }
    }
</script>

<style scoped>

</style>