<template>
    <div id="ContactUs" class="padding height">
        <div class="container-fluid text-right height">
            <div class="row height">
                <div class="col-sm-9 col-8 pt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="main-title"><i class="fa fa-marker pl-1"></i>فرم تماس</p>
                            </div>
                        <div class="container-fluid">
                            <div class="row">
                               <div class="col-md-6 col-sm-6 col-12">
                                   <div>
                                       <label>مربوط به بخش</label>
                                       <select class="form-control" @change="Related($event)">
                                           <option disabled selected>انتخاب کنید</option>
                                           <option v-for="relate in Related" :value="relate.id">{{relate.title}}</option>
                                       </select>
                                   </div>
                                   <div class="mt-md-2">
                                       <label>عنوان</label>
                                       <input class="form-control" v-model="Title">
                                   </div>
                               </div>
                               <div class="col-md-6 col-sm-6 col-12">
                                   <div>
                                       <label>توضیحات</label>
                                       <textarea class="form-control des-text" v-model="Description"></textarea>
                                   </div>
                               </div>

                            </div>
                        </div>
                            <div class="col-12 text-center">
                                <div class="send mt-3">
                                    <button><i class="fa fa-location-arrow pl-1"></i>ارسال</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div><img class="w-100" src="/img/Contact.png"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-4 pl-0 pr-0">
                    <div class="side-bar">
                        <ul>
                            <li class="side-logo" ><img class="fadeInUp" src="/img/contact-us.png"></li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>تلفن:</span>
                                <p>02633344527</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>ایمیل:</span>
                                <p>mcpersian@yahoo.com</p>
                            </li>
                            <li>
                                <i class="fa fa-map-marked"></i>
                                <span>آدرس:</span>
                                <p>البرز - کرج - میدان نبوت - ساختمان سینا پلاک 117</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ContactUs",
        data() {
            return {
                RelatedTitle: '',
                Title: '',
                Description: '',
                Related:[],
            }
        },
        methods: {
            Related(event) {
                this.RelatedTitle = event.target.value;
            },
            Send() {
                let formdata = new FormData();
                formdata.append('title', this.Title);
                formdata.append('related_id', this.RelatedTitle);
                formdata.append('description', this.Description);
                axios.post('/ContactUs/store',formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: " درخواست با موفقیت ثبت گردید",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(err => {
                    });
            },
            GetRelated(){
                axios.get('/Option/Related')
                    .then(response => {
                       this.Related = response.data;
                       console.log(this.Related )
                    })
                    .catch(err => {
                    });
            }
        },
        created(){
            this.GetRelated()
        }
    }
</script>

<style scoped>

</style>