<template>
    <div id="IncomePlan">
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-12">-->
                    <!--<div class="text-center">-->
                        <!--<img class=" w-50 about-logo" src="/img/logo/logo2.png">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-12">
                    <h4 class="font-weight-bold w-100 text-center p-3">طرح های درامدی</h4>
                </div>
                <div class="col-12 mb-2">
                    <img class="w-100" src="/img/divider01.png">
                </div>
                <div class="col-12">
                    <div class="container">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
                            سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "incomePlan"
    }
</script>

<style scoped>

</style>