<template>
    <div>
        <form @submit.prevent="SendEmail()">
            <input type="text" name="email" class="searchfield"
                   placeholder="درج ایمیل جهت عضویت در خبرنامه" v-model="email">
            <button class="btn btn-success btnsub"><i class="fa fa-hand-point-up"></i></button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "NewsLetter",
        data(){
            return{
                email:''
            }
        },
        methods:{
            SendEmail(){
                let formdata = new FormData();
                formdata.append('email', this.email);
                axios.post('/NewsLetter/store', formdata)
                    .then(response => {
                        console.log(response);
                        swal({
                            title: "عملیات موفق",
                            text: "ایمیل شما با موفقیت ثبت شد.",
                            icon: "success",
                            button: "تایید",
                        });

                    })
                    .catch(err => console.log(err))
            }
        }
    }
</script>

<style scoped>

</style>