<template>
    <div id="ShoppingBasket" class="padding height">
        <div class="desktop-shopping">
            <div class="container" v-if="Basket.length">
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>تصویر محصول</th>
                            <th>نام محصول</th>
                            <th>قیمت واحد</th>
                            <th>سایز</th>
                            <th>رنگ</th>
                            <th>تعداد</th>
                            <th>مبلغ کل محصول</th>
                            <th>حذف</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in Basket" :key="item.id">
                            <td>
                                <img class="basket-img" :src="item.product.gallery[0].file_name">
                            </td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.price}} تومان</td>
                            <td>{{item.size.number}}</td>
                            <td>{{item.color.name}}</td>
                            <td>
                            <span class="addmore" @click="Increase(item)">
                                <button type="button" class="btn btn-number add">
                                     <i class="fa fa-plus"></i>
                                 </button>
                            </span>
                                <input v-model="item.count" class="form-control count-input">
                                <button type="button" class="removemore"
                                        @click="Decrease(item)">
                                    <button type="button" class="btn btn-number sub">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </button>
                            </td>
                            <td>{{item.total_price}} تومان</td>
                            <td>
                                <button type="button" @click="removeFromCart(item)" class="remove">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-12 p-3 font-weight-bold">
                        <strong><h6 class="text-center font-weight-bold"><i class="fas fa-money-bill-alt pl-1"
                                                                            style="color:#19caaf"></i>پرداختی شما:
                            {{TotalPrice}} تومان</h6></strong>
                    </div>
                </div>
            </div>
            <div v-if="Basket.length" class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <form @submit.prevent="Payment()">
                            <div class="submit-btn">
                                <button>پرداخت</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div v-if="!Basket.length" class="container">
                <p class="text-center p-5">
                    سبد شما خالی است
                </p>
            </div>
        </div>
        <!--responsive-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="shopping-box" v-for="item in Basket"
                         :key="item.id">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <div class="text-center prod-img"><img class="w-100"
                                                                           :src="item.product.gallery[0].file_name">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 text-center mt-2">
                                                <span class="title">نام محصول:</span>
                                                <span>{{item.product.name}}</span>
                                            </div>
                                            <div class="col-sm-6 text-center mt-2">
                                                <span class="title">قیمت واحد:</span>
                                                <span>{{item.price}}</span>
                                            </div>
                                            <div class="col-sm-6">
        <span class="addmore" @click="Increase(item)">
        <span type="button" class="btn responsive btn-number add">
        <i class="fa fa-plus"></i>
        </span>
        </span>
                                                <input v-model="item.count"
                                                       class="responsive form-control count-input">
                                                <span type="button" :disabled="!item.quantity > 1" class="removemore"
                                                      @click="Decrease(item)">
        <span type="button" class="btn responsive btn-number sub">
        <i class="fa fa-minus"></i>
        </span>
        </span>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <span class="title">مجموع قیمت:</span>
                                                <span>{{item.total_price}} تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="button" @click="removeFromCart(item)" class="btn btn-danger remove">
                                        حذف
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 total-price">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pt-2">
                        <strong><h6 class="text-center font-weight-bold"><i
                                class="fas fa-money-bill-alt pl-1"
                                style="color:#19caaf"></i>مجموع:
                            {{TotalPrice}} تومان</h6></strong>
                    </div>
                    <div v-if="Basket.length" class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <form @submit.prevent="Payment()">
                                    <div class="submit-btn">
                                        <button>پرداخت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "ShoppingBasket",
        data() {
            return {

                PriceArray: [],
                Basket: [],
                CartNumberArray: [],
                BasketIdArray: [],
                TotalCartNumber: '',
                zarinpal: '',

            }
        },
        methods: {
            Increase(item) {
                console.log(this.BasketIdArray, 'BasketIdArray')
                let found = this.Basket.find(product => product.id == item.id);
                if (found) {
                    found.count++;
                    found.total_price = found.price * found.count;
                    this.$store.state.cartCount++;
                }
                let formdata = new FormData();
                formdata.append('count', found.count);
                axios.post(`/product/increase/${item.id}`, formdata)
                    .then(response => {
                        (console.log(response));

                    })
                    .catch(err => console.log(err))
            },
            Decrease(item) {
                console.log(this.BasketIdArray, 'BasketIdArray')
                if (item.count > 1) {
                    let found = this.Basket.find(product => product.id == item.id);
                    if (found) {
                        found.count--;
                        found.total_price = found.price * found.count;
                        this.$store.state.cartCount--;
                    }
                    let formdata = new FormData();
                    formdata.append('count', found.count);
                    axios.post(`/product/decrease/${item.id}`, formdata)
                        .then(response => {
                            (console.log(response));
                        })
                        .catch(err => console.log(err))
                }

            },
            removeFromCart(item) {
                let ProductId = item.id;
                let index = this.Basket.indexOf(item);
                if (index > -1) {
                    let product = this.Basket[index];
                    this.$store.state.cartCount -= product.count;
                    this.Basket.splice(index, 1);
                }

                this.Basket = this.Basket.filter(product => !(product.id == ProductId));
                axios.delete(`/Cart/removeProductFromCart/${ProductId}`)
                    .then(response => {
                        (console.log(response));
                        swal({
                            title: "عملیات موفق",
                            text: "محصول حذف شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        this.GetProducts();
                        // this.$store.commit('saveCart');
                    })
                    .catch(err => console.log(err))

            },
            async Payment() {

                let json = JSON.stringify(this.BasketIdArray);
                let post_data = {json_data: json};

                let formdata = new FormData();
                formdata.append('price', this.TotalPrice);
                formdata.append('product_id', post_data.json_data);
                await axios.post('/Product/payment', formdata)
                    .then(response => {
                        (console.log(response,'payment-response'));
                        this.zarinpal = response.data.link;
                        javascript:location.href = this.zarinpal;

                    })
                    .catch(err => console.log(err))
            },
            GetProducts() {
                axios.get('/Cart/list')
                    .then(response => {
                        this.Basket = response.data.cart;
                        if(this.Basket.length > 0){
                            this.GetCartNumber();
                            this.GetIdOfBasket();
                        }

                    })
                    .catch(err => console.log(err))
            },
            GetCartNumber() {
                if(this.Basket.length > 0){
                    for (let item of this.Basket) {
                        this.CartNumberArray.push(item.count);
                        this.TotalCartNumber = this.CartNumberArray.reduce((pv, cv) => pv + cv, 0);
                        this.$store.state.cartCount = this.TotalCartNumber;
                        // this.$store.commit('saveCart');
                    }
                }else{
                    this.$store.state.cartCount = 0;
                }


            },
            GetIdOfBasket(){
                if(this.Basket.length > 0){
                    for (let item of this.Basket) {
                        this.BasketIdArray.push({id: item.id})
                    }
                    let json = JSON.stringify(this.BasketIdArray);
                    this.post_data = {json_data: json};
                }

            }


        },
        computed: {
            TotalPrice() {
                if(this.Basket.length > 0){
                    return this.Basket.map(item => item.total_price).reduce((total, amount) => total + amount);
                }

            }
        },
        async created() {
            await this.GetProducts();
            // this.GetCartNumber();
            // this.GetIdOfBasket();
            // this.$store.state.cartCount = 0;

        }
    }
</script>

<style scoped>

</style>
