<template>
    <div id="SingleBlog" class=" padding text-center" >
        <div class="container-fluid" >
            <div class="row">
                <div class="col-12 pt-2 pb-2">
                    <h3>{{Article.title}}</h3>
                </div>
                <div class="col-md-4">
                    <img v-if="Article.imgUrl != null" class="image w-50" :src="'/'+Article.imgUrl">
                    <img v-else class="image w-50" src="/img/store/3828.jpg">
                </div>
                <div class="col-md-8">
                    <p class="text pt-3 text-right" v-html="Article.description"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SingleBlog",
        data(){
            return{
                ArticleID:'',
                Article:''
            }
        },
        methods:{
            GetID(){
                this.ArticleID = this.$route.params.id;
                console.log(this.ArticleID,'ArticleID')
            },
            GetSingleProduct(){
                axios.get(`/panel/Blog/single/${this.ArticleID}`)
                    .then(response => this.Article = response.data)
                    .catch(err=>console.log(err))
                console.log(this.Article,'Article')
            }
        },
        created(){
        this.GetID();
        this.GetSingleProduct();
        console.log(this.Article.length)
        }
    }
</script>

<style scoped>

</style>