<template>
    <div id="SingleProduct" class="padding">
        <div>
            <div class="container single-product-frame">
                <div class="row head-title">
                    <div class="col-sm-4 text-right">
                        <i class="fa fa-list"></i>
                        <span class="product-title">مشخصات محصول</span>
                    </div>
                    <div class="col-sm-8 navigation-items">
                        <ul class="text-left">
                            <li>
                                <span>خانه</span>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li>
                                <span>فروشگاه</span>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li>
                                <span v-if="item.category != null">{{item.category.category_title}}</span>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li>
                                <span>{{item.subCategory}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row product">
                    <div class="col-md-7 text-right">
                        <div class="product-model">
                            <h4 class="main-title">{{item.name}}</h4>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 product-color">
                                    <label>رنگ کالا</label>
                                    <span v-for="color in item.color" class="product-color">
                                <input id="c31" name="color" type="radio">
                                    <label data-toggle="tooltip" :title="color.name" for="c31" class="color-label"
                                           :style="{background: color.color_code}">
                                    <div class="button-label"></div>
                                </label>
                                </span>
                                </div>

                                <div class="col-sm-6 pt-sm-2">
                                    <label>برند:</label>
                                    <span>{{item.brand}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="product-price">
                                        <span>قیمت برای شما:</span>
                                        <span class="price">{{item.price}}</span>
                                        <span>تومان</span>
                                    </div>
                                </div>

                                <div class="col-sm-6 pt-2">
                                    <i class="fa fa-star" style="color: #19caaf;"></i>
                                    <span class="font-weight-bold">امتیاز محصول:</span>
                                    <span>{{item.score}} امتیاز</span>
                                </div>

                                <div class="col-sm-6 mt-2">
                                    <label class="m-0">انتخاب رنگ</label>
                                    <div class="position-relative">
                                        <select id="color" class="form-control guarantee" @change="GetColor($event)">
                                            <option disabled selected>انتخاب کنید</option>
                                            <option v-for="color in item.color" :value="color.color_id">{{color.name}}
                                            </option>
                                        </select>
                                        <i class="fa fa-angle-down select-icon"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-2">
                                    <label class="m-0 ">انتخاب سایز</label>
                                    <div class="position-relative">
                                        <select id="size" class="form-control guarantee" @change="GetSize($event)">
                                            <option disabled selected>انتخاب کنید</option>
                                            <option v-for="size in item.size" :value="size.size_id">{{size.number}}
                                            </option>
                                        </select>
                                        <i class="fa fa-angle-down select-icon"></i>
                                    </div>
                                </div>
                                <div class="col-12 mt-5 text-center">
                                    <a class="favorite" @mouseover="Display" @mouseleave="Hide"
                                       @click="favorite(item.id)">
                                        <i class="fa fa-heart"></i>

                                        <span v-if="IDList.indexOf(item.id)>-1" class="favorite-title">حذف از لیست علاقمندی ها</span>
                                        <span v-else class="favorite-title">افزودن به لیست علاقمندی ها</span>
                                    </a>
                                    <a class="addtobasket">
                                        <i class="fa fa-shopping-basket"></i>
                                        <button class="button is-success basket-title"
                                                @click="addToCart(item)">افزودن به سبد خرید
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <div class="pt-3 pb-2">
                            <span>{{item.name}}</span>
                        </div>
                        <section class="section">
                            <div class="columns">
                                <div class="column is-4">
                                    <div class="">
                                        <div class="card-content">
                                            <div class="card-carousel">
                                                <div class="card-img main-pic-1">
                                                </div>
                                                <div class="currentImage text-center">
                                                    <pic-zoom :url="currentImage" :scale="3"></pic-zoom>
                                                </div>
                                                <div class="actions">
                                                    <ul class="navigation1">
                                                        <span class="next" @click="prevImage">
                                                        <i class="fa fa-chevron-right"></i>
                                                        </span>
                                                        <li v-for="(image,index) in item.gallery"
                                                            :key="image[index]"
                                                            :class="[(activeImage == index) ? 'active1' : '']"
                                                            @click="activateImage(index)"
                                                            id="selected-li">
                                                            <i style="display: none" class="fa fa-circle"></i>
                                                        </li>
                                                        <span class="prev" @click="nextImage">
                                                        <i style="padding-right: 1px;" class="fa fa-chevron-left"></i>
                                                        </span>
                                                    </ul>
                                                </div>
                                                <div class="thumbnails">
                                                    <carousel :dots="false" :items="5" :nav="false" class="thumbNail"
                                                              style="direction: ltr;">
                                                        <div class="thumbnail-img thumbNail"
                                                             v-for="(image,index) in images"
                                                             :key="image.image_id"
                                                             :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
                                                             @click="activateImage(index,image)">
                                                            <img class="w-100" :src="'/'+image.file_name"
                                                                 id="img-thumb"/>
                                                        </div>
                                                    </carousel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 text-right mt-5">
                        <p class="text-right">این محصول شامل امکانات و ضمانت‌های زیر می‌باشد:</p>
                    </div>
                    <div class="col-12 features">
                        <div class="features-box">
                            <div class="features-box-inside">
                                <img src="/img/store/transfer.svg">
                                <p class="pt-2">تحویل اکسپرس</p>
                            </div>
                        </div>
                        <div class="features-box">
                            <div class="features-box-inside">
                                <img src="/img/store/rate.svg">
                                <p class="pt-2">ضمانت اصل بودن کالا</p>
                            </div>
                        </div>
                        <div class="features-box">
                            <div class="features-box-inside">
                                <img src="/img/store/discount.svg">
                                <p class="pt-2">تضمین بهترین قیمت</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <p class="text-right main-title"><i class="fa fa-search-plus pl-2"
                                                            style="color: rgb(25, 202, 175)"></i>محصولات مشابه</p>
                    </div>
                    <CarouselCard :interval="7000" height="300px" type="card" arrow="always">
                        <CarouselCardItem class="similar-item" v-for="item in SimilarProducts" :key="item.id">
                            <img :src="'/'+item.gallery[0].file_name" @click="GoToProduct(item.id)">
                            <div class="pt-1"><i class="fa fa-tshirt pl-1" aria-hidden="true"></i>{{item.name}}</div>
                            <div class="pt-1"><i class="fa fa-dollar-sign pl-1" aria-hidden="true"></i>{{item.price}} تومان</div>
                            <div class="pt-1"><i class="fa fa-star pl-1" aria-hidden="true"></i>{{item.score}} امتیاز</div>
                        </CarouselCardItem>
                    </CarouselCard>
                    <div class="line"></div>
                    <div class="col-12">

                        <p class="text-right main-title"><i class="fa fa-tags pl-2" style="color: #19caaf"></i>تگ ها</p>
                    </div>
                    <div class="col-12 tags">
                        <ul class="text-right">
                            <li v-for="tag in item.tag">{{tag.tag_title}}</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <div class="product-tabs mt-5">
                            <div class="info-tab tabs pb-5">
                                <ul>
                                    <li @click="TabOne()" id="tab1" :class="[  activetab === 1  ? 'active1' : '' ]">
                                        معرفی اجمالی
                                    </li>
                                    <li @click="TabThree()" id="tab3" :class="[ activetab === 3 ? 'active1' : '' ]">
                                        ویژگی ها
                                    </li>
                                    <li @click="TabFour()" id="tab4" :class="[ activetab === 4 ? 'active1' : '' ]">ثبت
                                        دیدگاه
                                    </li>

                                </ul>
                            </div>
                            <div v-if="activetab === 1" class="mt-3 product-description">
                                <p class="main-title text-right">{{item.name}}</p>
                                <p class="description text-right" v-html="item.description"></p>
                            </div>
                            <div v-if="activetab === 3">
                                <div class="container-fluid">
                                    <table class="table table-striped detail-table">
                                        <tbody class="text-right">
                                        <tr class="detail-tr row" v-for="feature in item.features">
                                            <td class="detail-title bold col-md-3 detail-td">{{feature.title}}</td>
                                            <td class="col-md-9 detail-td">{{feature.description}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div v-if="activetab === 4">
                                <form @submit.prevent="SendComment()">
                                    <div class="comment-send">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="cm-profile-name"></h3>
                                                <p class="inline-block cm-situation text-right">(در حال ثبت)</p>
                                            </div>
                                            <div class="col-12">
                                        <textarea class="form-control cm-textarea" v-model="Comment"
                                                  placeholder="نظر خود را در این قسمت وارد کنید..."></textarea>
                                            </div>
                                            <div class="col-12">
                                                <div class="text-center mt-3">
                                                    <button class="comment-send-btn">ثبت نظر</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import StarRating from 'vue-star-rating'
    import carousel from 'vue-owl-carousel'
    import PicZoom from 'vue-piczoom'
    import {CarouselCard, CarouselCardItem} from 'vue-carousel-card'
    import 'vue-carousel-card/styles/index.css'

    export default {
        components: {
            StarRating, carousel, PicZoom, CarouselCard, CarouselCardItem
        },
        data() {
            return {
                images: [],
                Color: '',
                Size: '',
                rating: 0,
                price: '275,200 ',
                CurrentIndex: 0,
                index: 0,
                activeIndex: 0,
                activeImage: 0,
                activetab: 1,
                SelectedTab: false,
                products: [],
                item: '',
                ProductID: '',
                SimilarProducts: [],
                Comment: '',
                BasketList: [],
                Basket: [],
                FavoriteList: [],
                IDList: [],
                found: '',
            }
        },
        methods: {
            GetFavorites() {
                axios.get('/panel/Favorite/my_favorites')
                    .then(response => {
                        this.FavoriteList = response.data;
                        console.log(this.FavoriteList)
                        // this.LikeStatus = true;
                        this.IDList = this.FavoriteList.map(item => item.id)
                        console.log(this.IDList, 'IDList ')

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            favorite(ID) {
                if (this.IDList.indexOf(ID) > -1) {
                    axios.post('/panel/Favorite/unfavorites/' + ID)
                        .then(response => {
                            this.isFavorited = false;
                            this.GetFavorites();
                            this.$toast.warning({
                                title: '',
                                message: 'محصول از لیست علاقمندی ها حذف شد'
                            })
                        })
                        .catch(response => console.log(response.data));
                }
                if (this.IDList.indexOf(ID) == -1) {
                    axios.post('/panel/Favorite/favorite/' + ID)
                        .then(response => {
                            this.GetFavorites();
                            this.$toast.success({
                                title: '',
                                message: 'محصول به لیست علاقمندی ها اضافه شد'
                            })
                        })
                        .catch(response => console.log(response.data));
                }

            },

            setRating(rating) {
                this.rating = rating;
                console.log(this.rating)
            },
            Display() {
                $('.favorite-title').css('display', 'inline')
                $('.basket-title').css('display', 'none')
                $('.favorite').css('marginLeft', 'initial')

            },
            Hide() {
                $('.favorite-title').css('display', 'none')
                $('.basket-title').css('display', 'inline');
                $('.favorite').css('marginLeft', '3px')

            },
            nextImage(index) {
                var active = this.activeImage + 1;
                if (active >= this.images.length) {
                    active = 0;
                }
                this.activateImage(active);
            },
            prevImage(index) {
                var active = this.activeImage - 1;
                if (active < 0) {
                    active = this.images.length - 1
                }
                this.activateImage(active);
            },
            activateImage(imageIndex) {
                this.activeImage = imageIndex;
            },
            TabOne() {
                this.SelectedTab = true;
                this.activetab = 1;
            },
            TabTwo() {
                this.SelectedTab = true;
                this.activetab = 2;
            },
            TabThree() {
                this.SelectedTab = true;
                this.activetab = 3;
            },
            TabFour() {
                this.SelectedTab = true;
                this.activetab = 4;
            },
            TabFive() {
                this.SelectedTab = true;
                this.activetab = 5;
            },
            GetColor(event) {
                this.Color = event.target.value;
            },
            GetSize(event) {
                this.Size = event.target.value;
            },
            GetID() {
                this.ProductID = this.$route.params.id;
                console.log(this.ProductID, 'ProductID')
            },
            GetSingleProduct() {
                axios.get(`/Product/single/${this.ProductID}`)
                    .then(response => {
                        this.products = response.data;
                        this.item = response.data;
                        this.images = response.data.gallery;
                        console.log(this.images)
                    })
                    .catch(err => console.log(err))
                console.log(this.products, 'products')

            },
            GetSimilarPoducts() {
                axios.get(`/Option/sameProduct/${this.ProductID}`)
                    .then(response => this.SimilarProducts = response.data)
                    .catch(err => console.log(err))
                console.log(this.SimilarProducts, 'SimilarProducts')
                console.log(this.SimilarProducts.length, 'length')
            },
            SendComment() {
                if (this.Comment == '') {
                    swal({
                        title: "عملیات ناموفق",
                        text: "پیام خود را وارد نمایید.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }

                let formdata = new FormData();
                formdata.append('product_id', this.ProductID);
                formdata.append('massage', this.Comment);
                axios.post('/Product/commentStore', formdata)
                    .then(response => {
                        (console.log(response));
                        swal({
                            title: "عملیات موفق",
                            text: "نظر شما با موفقیت ثبت شد.",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(err => console.log(err))
            },
            GetGallery() {
                let newArray = this.products.filter(element => element.gallery);
                console.log(newArray)
            },
            GoToProduct(ID) {
                this.$router.push({name: 'SingleProduct', params: {id: ID}});
                window.location.reload();
            },
            addToCart(item) {
                 this.GetBasketProducts();
                if (!this.Color) {
                    swal({
                        title: "عملیات ناموفق",
                        text: "رنگ کالا را انتخاب نمایید.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }
                if (!this.Size) {
                    swal({
                        title: "عملیات ناموفق",
                        text: "سایز کالا را انتخاب نمایید.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }
                this.found = this.BasketList.find(product => product.product_id == item.id);
                if (this.found) {
                    if(this.found.color.color_id == this.Color && this.found.size.size_id == this.Size){
                        this.found.count ++ ;
                    }
                    if(this.found.color.color_id !== this.Color && this.found.size.size_id == this.Size){
                        this.Basket.push({
                            id: item.id,
                            price: item.price,
                            color: this.Color,
                            size: this.Size,
                            name: item.name,
                            file_name: item.gallery[0].file_name,
                            totalPrice: item.price,
                        })
                    }
                    if(this.found.color.color_id == this.Color && this.found.size.size_id != this.Size){
                        this.Basket.push({
                            id: item.id,
                            price: item.price,
                            color: this.Color,
                            size: this.Size,
                            name: item.name,
                            file_name: item.gallery[0].file_name,
                            totalPrice: item.price,
                        })
                    }
                }
                else {
                    this.Basket.push({
                        id: item.id,
                        price: item.price,
                        color: this.Color,
                        size: this.Size,
                        name: item.name,
                        file_name: item.gallery[0].file_name,
                        totalPrice: item.price,
                    })
                }
                console.log(this.Basket[0], 'Basket-object');
                axios.post('/Cart/AddToCart', this.Basket[0])
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "محصول به سبد خرید اضافه شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        this.GetBasketProducts();

                        this.$store.state.cartCount += 1;
                        this.$store.commit('saveCart');

                        $('#color option').prop('selected', function () {
                            return this.defaultSelected;
                        });
                        $('#size option').prop('selected', function () {
                            return this.defaultSelected;
                        });
                        this.Color = '';
                        this.Size = '';
                    })
                    .catch(err => console.log(err))
            },
            GetBasketProducts() {
                axios.get('/Cart/list')
                    .then(response => {
                        this.BasketList = response.data.cart;
                        console.log(this.Basket)
                    })
                    .catch(err => console.log(err))
            }
        },
        mounted() {
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('.color-label').click(function () {
                    $('.button-label').css('border', '2px')

                });


                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();


                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers});
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });


        },
        async created() {
            this.GetID();
            await this.GetSingleProduct();
            this.GetSimilarPoducts();
            this.GetGallery();
            this.GetBasketProducts();
            this.GetFavorites();

        },
        computed: {
            currentImage() {
                return '/' + this.images[this.activeImage].file_name
            },
        },


    }
</script>

<style>
    /*.custom-text {*/
    /*font-weight: bold;*/
    /*font-size: 1.9em;*/
    /*border: 1px solid #cfcfcf;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border-radius: 5px;*/
    /*color: #999;*/
    /*background: #fff;*/
    /*}*/

    /*.vue-star-rating-rating-text {*/
    /*display: none !important;*/
    /*}*/

    /*.zoom-on-hover .zoom {*/
    /*transform: scale(0.45) !important;*/
    /*!*left:0 !important;*!*/
    /*!*top:0 !important;*!*/
    /*}*/

    /*.magnifier-box .mouse-cover[data-v-546a21cf] {*/
    /*position: unset !important;*/
    /*}*/

    /*.owl-theme .owl-nav.disabled + .owl-dots {*/
    /*direction: ltr !important;*/
    /*}*/

    /*.mouse-cover-canvas {*/
    /*!*left: 560px !important;*!*/
    /*right: 28% !important;*/
    /*top: 176px !important;*/
    /*border: none !important;*/
    /*}*/

    /*.carousel-3d-slider, .carousel-3d-slide {*/
    /*width: 220px !important;;*/
    /*}*/

    /*.carousel-3d-slide {*/
    /*border: none !important;*/
    /*background: #F5F5F5 !important;*/
    /*box-shadow: 0 0 2px grey !important;*/
    /*}*/

    /*.carousel-3d-slide.current {*/
    /*box-shadow: 0 0 12px tan !important;*/
    /*}*/

    /*.carousel-3d-container[data-v-c06c963c] {*/
    /*overflow: unset !important;*/
    /*}*/
    /*.carousel-card{*/
    /*width:90% !important;*/
    /*margin: auto !important;*/
    /*padding-top: 5px !important;*/
    /*}*/
    /*.carousel-card-container{*/
    /*margin: 0 !important;*/
    /*width:90% !important;*/
    /*}*/
    /*.carousel-card-item-card{*/
    /*width: 30% !important;*/
    /*}*/
    /*.carousel-card-arrow-right {*/
    /*right: 95px !important;*/
    /*}*/
    /*.carousel-card-arrow-left {*/
    /*left: -35px !important;*/
    /*}*/

</style>