<template>
    <div id="Slider">
        <div id="carouselExampleControls" class="carousel slide slideindex" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 imgslider" src="/img/slider/1.jpg" >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 imgslider" src="/img/slider/2.jpg" >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 imgslider" src="/img/slider/3.jpg" >
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Slider"
    }
</script>

<style scoped>

</style>