<template>
    <div id="Store">
        <div class="pt-5"></div>
        <div class="container">
            <div class="row sub-page">
                <div class="col-6 col-sm-4">
                    <h4><i class="fas fa-list ml-2"></i>لیست محصولات</h4>
                </div>
                <div class="col-6 col-sm-8">
                    <ul>
                        <li class="sub-page-before"><a href="">صفحه اصلی</a></li>
                        <i class="fa fa-angle-left"></i>
                        <li><a href="">فروشگاه</a></li>
                    </ul>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-3 side">
                    <div class="side-ware">
                        <div class="ware-filter">
                            <h5>
                                <i class="fas fa-filter ml-3"></i>
                                فیلتر ها
                            </h5>
                        </div>
                        <div class="category-ware mt-2">
                            <div class="category-ware-main">

                                <div class="mb-3">
                                    <label class="float-right font-weight-bold">بر اساس امتیاز</label>
                                    <select class="form-control" @change="GetScore($event)">
                                        <option disabled selected>بر اساس امتیاز</option>
                                        <option value="0">همه</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="float-right font-weight-bold">بر اساس فروش</label>
                                    <select class="form-control" @change="GetSales($event)">
                                        <option disabled selected>انتخاب کنید</option>
                                        <option value="0">پرفروش ها</option>
                                        <option value="1">کم فروش ها</option>
                                    </select>
                                </div>
                                <div class="ware-filter">
                                    <h5>
                                        <i class="fas fa-filter ml-3"></i>
                                        دسته بندی ها
                                    </h5>
                                </div>
                                <ul v-for="category in CategoryOne">
                                    <li><a href="">{{category.category_title}}</a></li>
                                </ul>
                                <!--<ul class="extra-category">-->
                                    <!--<li><a href="">کفش</a></li>-->
                                    <!--<li><a href="">کیف</a></li>-->
                                    <!--<li><a href="">کمربند</a></li>-->
                                    <!--<li><a href="">دکمه سر آستین</a></li>-->
                                    <!--<li><a href="">شال گردن</a></li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                    </div>
                    <div v-if="!DisplayCat" class="side-ware-button">
                        <button @click="DisplayExtra()" class="btn" id="see-more">
                            <i class="fas fa-plus"></i>
                            مشاهده موارد بیشتر
                        </button>
                    </div>
                    <div v-if="DisplayCat" class="side-ware-button">
                        <button @click="HideExtra()" class="btn" id="see-more">
                            <i class="fas fa-minus"></i>
                            بستن
                        </button>
                    </div>
                </div>

                <div class="ware col-lg-9 col-12">
                    <div class="sort col-12 row">
                        <div class="col-12 row sub-sort">
                            <div class="sub-sort-select  col-lg-0 col-md-4">
                                <select @change="GetScore($event)">
                                    <option disabled selected>فیلتر بر اساس امتیاز :</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 line"></div>
                        <div class="col-12 ware-pagination row">
                            <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                                <paginate
                                        v-model="page"
                                        :page-count="20"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="clickCallback"
                                        :prev-text="'صفحه قبل'"
                                        :next-text="'صفحه بعد'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                </paginate>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 row ware-main">
                        <div v-if="!ScoreFilter" class="container col-lg-4 col-sm-6" v-for="(product,index) in Products"
                             :key="index">
                            <div>
                                <div class="ware-main-img" @click="OpenSingle(product.id)">
                                    <img :src="product.gallery[0].file_name" class="mx-auto d-block" alt="">
                                </div>
                                <div v-for="color in product.color" class="ware-main-on">
                                    <div class="ware-main-on-border" :style="{borderColor: color.color_code}">
                                        <div class="ware-main-on-background"
                                             :style="{background: color.color_code}"></div>
                                    </div>
                                </div>
                                <div class="ware-main-sub">
                                    <div class="p-1" @click="OpenSingle(product.id)">{{product.name}}</div>
                                    <div class="ware-main-price ">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 w-100 p-1"><span>{{product.price}}</span> تومان</div>
                                                <div class="col-12 w-100 p-1">
                                                       <span v-if="product.score == 1">
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 2">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>

                                                    <span v-if="product.score == 3">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 4">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 5">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ware-main-icon">
                                        <div class="compare">
                                            <div @click="OpenSingle(product.id)"><i
                                                    class="fas fa-cart-plus"></i></div>
                                        </div>
                                        <div class="favorited">
                                            <div class="dislike" @click="favorite(product.id,index)">
                                                <i v-if="IDList.indexOf(product.id)>-1" class="fa fa-heart active"></i>
                                                <i v-else class="fa fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!Products.length" class="container">
                                <div class="p-5">
                                    محصولی یافت نشد
                                </div>
                            </div>
                        </div>
                        <!--filter by score-->
                        <div v-if="ScoreFilter" class="container col-lg-4 col-sm-6"
                             v-for="(product,index) in FilteredProducts" :key="index">
                            <div>
                                <div class="ware-main-img" @click="OpenSingle(product.id)">
                                    <img :src="product.gallery[0].file_name" class="mx-auto d-block" alt="">
                                </div>
                                <div v-for="color in product.color" class="ware-main-on">
                                    <div class="ware-main-on-border" :style="{borderColor: color.color_code}">
                                        <div class="ware-main-on-background"
                                             :style="{background: color.color_code}"></div>
                                    </div>
                                </div>
                                <div class="ware-main-sub">
                                    <div class="p-1" @click="OpenSingle(product.id)">{{product.name}}</div>
                                    <div class="ware-main-price ">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 w-100 p-1"><span>{{product.price}}</span> تومان</div>
                                                <div class="col-12 w-100 p-1">
                                                       <span v-if="product.score == 1">
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 2">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>

                                                    <span v-if="product.score == 3">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 4">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                    <span v-if="product.score == 5">
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                           <i class="fa fa-star"></i>
                                                       </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ware-main-icon">
                                        <div class="compare">
                                            <div @click="OpenSingle(product.id)"><i
                                                    class="fas fa-cart-plus"></i></div>
                                        </div>
                                        <div class="favorited">
                                            <div class="dislike" @click="favorite(product.id,index)">
                                                <i v-if="IDList.indexOf(product.id)>-1" class="fa fa-heart active"></i>
                                                <i v-else class="fa fa-heart"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!Products.length" class="container">
                                <div class="p-5">
                                    محصولی یافت نشد
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Store",
        data() {
            return {
                page: 1,
                showButtons: true,
                value: [30, 70],
                type: 'Range',
                DisplayCat: false,
                Products: [],
                FilteredProducts: [],
                FavoriteList: [],
                IDList: [],
                CategoryOne: [],
                CompareStatus: false,
                LikeStatus: false,
                ProductID: '',
                currentImg: 0,
                status: 0,
                isFavorited: '',
                favorited: '',
                activeItem: null,
                Score: '',
                Sale: '',
                ScoreFilter: false,
            }
        },
        methods: {
            clickCallback(pageNum) {
                console.log(pageNum)
            },
            DisplayExtra() {
                // $('.extra-category').slideDown();
                $('.side-ware').css('height', 'auto');
                this.DisplayCat = true;
            },
            HideExtra() {
                $('.extra-category').slideUp();
                $('.side-ware').css('height', '350px');
                this.DisplayCat = false;

            },
            GetProducts() {
                axios.get('/Product/list')
                    .then(response => {
                        this.Products = response.data;
                        this.Loading = true
                    })
                    .catch(err => console.log(err))
                console.log(this.Products)
            },
            OpenSingle(ID) {
                this.$router.push({name: 'SingleProduct', params: {id: ID}});
                window.location.reload();
            },
            favorite(ID, index) {
                if (this.IDList.indexOf(ID) > -1) {
                    axios.post('/panel/Favorite/unfavorites/' + ID)
                        .then(response => {
                            this.isFavorited = false;
                            this.GetFavorites();
                        })
                        .catch(response => console.log(response.data));
                }
                if (this.IDList.indexOf(ID) == -1) {
                    axios.post('/panel/Favorite/favorite/' + ID)
                        .then(response => {
                            this.isFavorited = true;
                            this.GetFavorites();
                        })
                        .catch(response => console.log(response.data));
                }
            },
            GetFavorites() {
                axios.get('/panel/Favorite/my_favorites')
                    .then(response => {
                        this.FavoriteList = response.data;
                        console.log(this.FavoriteList)
                        this.IDList = this.FavoriteList.map(item => item.id)
                        console.log(this.IDList, 'IDList ')

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            GetCategoryOne() {
                axios.get('/Option/SubCategory')
                    .then(response =>
                        this.CategoryOne = response.data)
                    .catch(err => console.log(err))
            },
            GetScore(event) {
                this.Score = event.target.value;
                this.FilteredProducts = this.Products.filter(item => item.score == this.Score);
                console.log(this.FilteredProducts, 'FilteredProducts')


            },
            GetSales(event) {
                this.Sale = event.target.value;
            },

        },

        watch: {
            Score() {
                if (this.Score == 0) {
                    this.ScoreFilter = false;
                } else {
                    this.ScoreFilter = true;
                }

            },
            Sale() {
                if (this.Sale == 0) {
                    axios.get('/Option/maxPrice')
                        .then(response => {
                            this.Products = response.data;
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
                if (this.Sale == 1) {
                    axios.get('/Option/minPrice')
                        .then(response => {
                            this.Products = response.data;
                        })
                        .catch(error => {
                            console.log(error)
                        });
                } else {
                    this.GetProducts();
                }
            }
        },

        mounted() {
            $('.filters').click(function () {
                $(this).css('color', '#d2ae6d')
                $(this).siblings('div').css('color', 'black')
            });

            this.isFavorited = this.isFavorite ? true : false;

        },

        computed: {
            isFavorite() {
                return this.favorited;
            },
        },
        created() {
            this.GetProducts();
            this.GetFavorites();
            this.GetCategoryOne();


        },
    }

</script>

<style>
    #appp {
        color: #008cff;
        height: 40px;
        left: 30%;
        position: absolute;
        top: 40%;
        width: 50%;
    }

    .pagination .page-item a {
        cursor: pointer;
        position: relative;
        padding: 2px 8px;
        line-height: 1.3;
        text-decoration: none;
        background-color: #f5f5f5;
        color: #000;
        margin: 0 3px;
        border: none;
        border-radius: 2px;
    }

    .pagination .page-item.active a {
        color: #fff !important;
        background-color: #19caaf !important;
    }
</style>