<template>
    <div id="AboutUs">
        <div class="container-fluid">
            <form @submit.prevent="SaveAboutUs()">
                <div class="row">
                    <div class="col-md-12">
                        <label>توضیحات</label>
                        <vue-editor v-model="content"></vue-editor>
                    </div>
                    <div class="col-12 mt-3 mb-5">
                        <div class="submit-btn">
                            <button>ذخیره</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: "AboutUs",
        data() {
            return {
                content:''
            }
        },
        methods: {
            SaveAboutUs() {
                let formdata = new FormData();
                formdata.append('description', this.content);
                axios.post('/panel/Blog/store', formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "اطلاعات با موفقیت ثبت شد.",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        components:{
            VueEditor
        }
    }
</script>

<style scoped>

</style>