<template>
    <div id="Account" class="padding">
        <form @submit.prevent="SaveAccount()" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <label>بارگزاری تصویر</label>
                        <!--preview-->
                        <div class="avatar-div">
                            <img v-if="UserObject.avatar == '' || UserObject.avatar == null" class="output avatar-img" src="/img/user-icon.png">
                            <img v-else class="output avatar-img" :src="UserObject.avatar">
                        </div>
                        <!--preview-->
                        <label for="files" class="upload-btn userImg-btn"><i
                                class="fa fa-upload"></i></label>
                        <input style="visibility:hidden;" id="files" type="file" class="upload-btn"
                               accept="image/*"
                               @change="UploadImage($event)" name="avatar">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>نام</label>
                        <input class="form-control" v-model="UserObject.name">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>نام خانوادگی</label>
                        <input class="form-control" v-model="UserObject.last_name">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>کشور</label>
                        <select class="form-control" @change="SelectCountry($event)">
                            <option selected disabled v-if="UserObject.country_id != null">{{UserObject.country_id.country_name}}</option>
                            <option v-else selected disabled>انتخاب کنید</option>
                            <option v-for="country in Country" :value="country.country_id">{{country.country_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>استان</label>
                        <select class="form-control" @change="SelectState($event)">
                            <option selected disabled v-if="UserObject.state_id != null">{{UserObject.state_id.state_name}}</option>
                            <option v-else selected disabled>انتخاب کنید</option>
                            <option v-for="state in State" :value="state.state_id">{{state.state_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>شهر</label>
                        <select class="form-control" @change="SelectCity($event)">
                            <option selected disabled v-if="UserObject.city_id != null">{{UserObject.city_id.city_name}}</option>
                            <option v-else selected disabled>انتخاب کنید</option>
                            <option v-for="city in City" :value="city.city_id">{{city.city_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>تاریخ تولد</label>
                        <date-picker v-model="UserObject.birthday_date" type="date" name="date"/>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>کد ملی</label>
                        <input class="form-control" v-model="UserObject.national_code">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>شماره تلفن ثابت</label>
                        <input class="form-control" v-model="UserObject.phone">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>شماره تلفن همراه</label>
                        <input class="form-control" v-model="UserObject.mobile">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label>کد ملی</label>
                        <input class="form-control" v-model="UserObject.email">
                    </div>
                    <div v-if="news_letter_status == 1" class="col-12 newsletter">
                        <span>آیا تمایل به لغو عضویت در خبرنامه دارید؟</span>
                        <span>
                            <button @click="RemoveNewsLetter()" type="button" class="btn cancel-register">لغو</button>
                        </span>
                    </div>
                    <div v-if="news_letter_status == 0" class="col-12 newsletter">
                        <span>آیا تمایل به عضویت در خبرنامه دارید؟</span>
                        <span>
                            <button @click="RegisterToNewsLetter()" type="button" class="btn register">عضویت</button>
                        </span>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="submit-btn">
                            <button>ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>

<script>
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker';
    import swal from 'sweetalert';

    export default {
        name: "Account",
        data() {
            return {
                PreviewImg: '',
                NewsLetter: false,
                name: '',
                lname: '',
                image: '',
                national_code: '',
                email: '',
                country_id: '',
                state_id: '',
                city_id: '',
                age: '',
                phone: '',
                mobile: '',
                news_letter_status: '',
                UserObject: {},
                Country:[],
                State:[],
                City:[],
            }
        },
        methods: {
            UploadImage(event) {
                this.image = event.target.files[0];
                console.log(this.image)
                let ImageSize = this.image.size / 1024 / 1024; //mb
                if (ImageSize > 1) {
                    swal({
                        title: "عملیات ناموفق",
                        text: "حجم تصویر باید کمتر از 1 مگابایت باشد.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }
                // ----preview----
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.PreviewImg = e.target.result;
                };
                reader.readAsDataURL(event.target.files[0]);
                // ----preview----

            },
            SelectCountry(event) {
                this.country_id = event.target.value;
                this.UserObject.country_id.country_id = event.target.value;
                // console.log(this.country_id,'country_id')
                axios.post(`/Option/state/${this.country_id}`)
                    .then(response => {
                        this.State = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.State)
            },
            SelectState(event) {
                this.state_id = event.target.value;
                this.UserObject.state_id.state_id = event.target.value;
                console.log(this.state_id,'state_id')
                axios.post(`/Option/city/${this.state_id}`)
                    .then(response => {
                        this.City = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.City)
            },
            SelectCity(event) {
                this.city_id = event.target.value;
                this.UserObject.city_id.city_id = event.target.value;
                console.log(this.city_id,'city_id')
            },
            RegisterToNewsLetter(){
                axios.post('/NewsLetter/join')
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "عضویت شما با موفقیت انجام شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        // window.location.reload();
                        this.NewsLetter = true;

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            RemoveNewsLetter(){
                axios.delete('/NewsLetter/left')
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "عضویت شما در خبرنامه لغو شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        // window.location.reload();
                        this.NewsLetter = false;
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            SaveAccount() {
                let formdata = new FormData();
                formdata.append('avatar', this.image);
                formdata.append('name', this.UserObject.name);
                formdata.append('last_name', this.UserObject.last_name);
                formdata.append('national_code', this.UserObject.national_code);
                formdata.append('birthday_date', this.UserObject.birthday_date);
                formdata.append('phone', this.UserObject.phone);
                formdata.append('email', this.UserObject.email);
                formdata.append('mobile', this.UserObject.mobile);
                formdata.append('country_id', this.UserObject.country_id.country_id);
                formdata.append('state_id', this.UserObject.state_id.state_id);
                formdata.append('city_id', this.UserObject.city_id.city_id);


                axios.post(`/panel/Account/update/${this.UserObject.id}`, formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "اطلاعات با موفقیت ثبت شد.",
                            icon: "success",
                            button: "تایید",
                        });

                    })
                    .catch(error => {
                        console.log(error)
                    });

            },
            GetUserInfo() {
                axios.get('/panel/Account/single')
                    .then(response => {
                        this.UserObject = response.data;
                        this.news_letter_status = response.data.news_letter_status

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.UserObject)
            },
            GetCountry(){
                axios.get('/Option/country')
                    .then(response => {
                        this.Country = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.Country)
            },

        },
        components: {
            datePicker: VuePersianDatetimePicker,
            swal
        },
        created(){
            this.GetUserInfo();
            this.GetCountry();
            // this.GetState();
            // this.GetCity();
        }
    }
</script>

<style scoped>
    .vpd-input-group {
        display: flex !important;
        width: 100% !important;
        position: relative !important;
    }

    .my-custom-class-name {

        width: 70% !important;
        border: none !important;
        background: #d3d3d35c !important;
        margin: auto !important;
        margin-bottom: 10px !important;
        border-bottom: 2px solid #00BCD4 !important;
        border-top-left-radius: 21px !important;
        border-bottom-left-radius: 21px !important;
    }

    .vpd-input-group input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .vpd-icon-btn {
        display: inline-block !important;
        cursor: pointer !important;
        padding: 8px 10px !important;
        border-radius-top-right: 21px !important;
        border-top-right-radius: 21px !important;
        border-bottom-right-radius: 21px !important;
        margin-bottom: 0 !important;
        height: 35px !important;
    }

    .vpd-input-group label {
        width: 30px !important;
    }

    .swal-footer {
        text-align: center !important;
    }
</style>9