<template>
    <div id="Blog">
        <div class="container-fluid">
       <form @submit.prevent="SaveBlog()">
           <div class="row">
               <div class="col-md-12">
                   <label>بارگزاری تصویر</label>
                   <!--preview-->
                   <div class="avatar-div">
                       <img v-if="PreviewImg == ''" class="output avatar-img" src="/images/3828.jpg">
                       <img v-else class="output avatar-img" :src="PreviewImg">
                   </div>
                   <!--preview-->
                   <label for="files" class="upload-btn userImg-btn"><i
                           class="fa fa-upload"></i></label>
                   <input style="visibility:hidden;" id="files" type="file" class="upload-btn"
                          accept="image/*"
                          @change="UploadImage($event)" name="imgUrl">
               </div>
               <div class="col-md-12 mt-5">
                   <label>عنوان</label>
                   <input class="form-control w-50" v-model="title">
               </div>
               <div class="col-md-12 mt-3">
                   <label>توضیحات</label>
                   <vue-editor v-model="content"></vue-editor>
               </div>
               <div class="col-12 mt-3 mb-5">
                   <div class="submit-btn">
                       <button>ذخیره</button>
                   </div>
               </div>
           </div>
       </form>
        </div>
    </div>
</template>

<script>
    import swal from 'sweetalert';
    import { VueEditor } from "vue2-editor";
    export default {
        name: "AddBlog.vue",
        data(){
            return{
                title: '',
                image: '',
                PreviewImg: '',
                description: '',
                content: ''

            }

        },
        methods:{
            UploadImage(event) {
                this.image = event.target.files[0];
                console.log(this.image)
                // ----preview----
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.PreviewImg = e.target.result;
                };
                reader.readAsDataURL(event.target.files[0]);
                // ----preview----

            },
            SaveBlog(){
                let formdata = new FormData();
                formdata.append('title', this.title);
                formdata.append('description', this.content);
                formdata.append('imgUrl', this.image);
                axios.post('/panel/Blog/store', formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "مقاله با موفقیت ثبت شد.",
                            icon: "success",
                            button: "تایید",
                        });

                        this.$router.push({name: 'Articles',path:'panel/Articles'});
                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        components:{
            VueEditor,swal
        }
    }
</script>

<style>
    .ql-editor{
        text-align:right !important;
    }
    .quillWrapper{
        background : white !important;
    }
</style>