<template>
    <div class="container-fluid">
        <form @submit.prevent="AddCat()">
            <div class="row">
                <div class="col-md-3">
                    <label>دسته بندی</label>
                    <select class="form-control" @change="SelectCategory($event)">
                        <option selected disabled>انتخاب کنید</option>
                        <option v-for="item in CategoryOne" :value="item.category_id">{{item.category_title}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>عنوان زیردسته بندی</label>
                    <input class="form-control" v-model="subcategory_name" placeholder="مثلا: کت و شلوار"/>
                </div>
                <div class="col-md-3">

                    <ul class="feature-list mt-2">
                        <li v-for="(item,index) in CategoryList">
                            <span @click="RemoveCat(item.category_id)"><i class="fa fa-times pl-1 pr-1"
                                                                          style="color:orange"></i></span>
                            {{item.category_title}}
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="submit-btn">
                        <button>ذخیره</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "AddCategory",
        data() {
            return {
                CategoryList: [],
                category_id: '',
                subcategory_name: '',
                CategoryOne: [],
            }
        },
        methods: {
            SelectCategory(event) {
                this.category_id = event.target.value;
                console.log(this.category_id)

            },
            RemoveCat(ID) {
                this.CategoryList = this.CategoryList.filter(item => !(item.category_id == ID));
                axios.delete(`/panel/Category/delete/${ID}`, this.CategoryList)
                    .then((response) => {
                        swal({
                            title: "عملیات موفق",
                            text: "دسته بندی مورد نظر با موفقیت حذف شد.",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(err => console.log(err))
            },
            async AddCat() {
                console.log(this.subcategory_name)
                let formdata = new FormData();
                formdata.append('parent_id', this.category_id);
                formdata.append('category_title', this.subcategory_name);

                await axios.post('/panel/Category/store', formdata)
                    .then((response) => {
                        swal({
                            title: "عملیات موفق",
                            text: "دسته بندی با موفقیت ثبت شدند.",
                            icon: "success",
                            button: "تایید",
                        });
                        window.location.reload();

                    })
                    .catch(err => console.log(err))
                this.category_name = '';
            },
            GetCatList() {
                axios.get('/panel/Category/list')
                    .then(response => {
                        this.CategoryList = response.data;
                        console.log(this.CategoryList)
                    })
                    .catch(err => console.log(err))
            },
            GetCategoryOne() {
                axios.get('/Option/SubCategory')
                    .then(response =>
                        this.CategoryOne = response.data)
                    .catch(err => console.log(err))
            },

        },
        created() {
            this.GetCatList();
            this.GetCategoryOne();
        }
    }
</script>

<style scoped>

</style>