<template>
    <div id="AddProduct">


        <form @submit.prevent="AddProduct()" enctype="multipart/form-data" class="step-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <label>عنوان</label>
                        <input class="form-control" v-model="name">
                    </div>
                    <div class="col-md-3">
                        <label>دسته بندی</label>
                        <select class="form-control" @change="SelectCategory($event)">
                            <option selected disabled>انتخاب کنید</option>
                            <option v-for="item in CategoryOne" :value="item.category_id">{{item.category_title}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>نوع</label>
                        <select class="form-control" @change="SelectType($event)">
                            <option selected disabled>انتخاب کنید</option>
                            <option v-for="sub in SubCatList" :value="sub.category_id">{{sub.category_title}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>سایز ها</label>
                        <select class="form-control" @change="SelectSize($event)">
                            <option selected disabled>انتخاب کنید</option>
                            <option v-for="item in SizeList" :value="item.size_id">{{item.number}}</option>
                        </select>

                        <div>
                            <ul class="feature-list mt-2">
                                <li v-for="(item,index) in Sizes">
                                    <span @click="RemoveSize(item.size_id,index)"><i class="fa fa-times pl-1 pr-1"
                                                                                     style="color:orange"></i></span>
                                    {{item.number}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>رنگ ها</label>
                        <select class="form-control" @change="SelectColor($event)">
                            <option selected disabled>انتخاب کنید</option>
                            <option v-for="item in ColorList" :value="item.color_id">{{item.name}}</option>

                        </select>
                        <div>
                            <ul class="feature-list mt-2">
                                <li v-for="(item,index) in Colors">
                                    <span @click="RemoveColor(item.color_id,index)"><i class="fa fa-times pl-1 pr-1"
                                                                                       style="color:orange"></i></span>
                                    {{item.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>امتیاز</label>
                        <input class="form-control" v-model="rate">
                    </div>
                    <div class="col-md-3">
                        <label>قیمت</label>
                        <input class="form-control" v-model="price">
                    </div>

                    <div class="col-md-3">
                        <label>موجودی</label>
                        <input class="form-control" v-model="count">
                    </div>

                    <div class="col-md-3">
                        <label>برچسب ها</label>
                        <select class="form-control" @change="SelectTags($event)">
                            <option selected disabled>انتخاب کنید</option>
                            <option v-for="tag in TagList" :value="tag.tag_id">{{tag.tag_title}}</option>
                        </select>
                        <div>
                            <ul class="feature-list mt-2">
                                <li v-for="item in Tags">
                                    <span @click="RemoveTag(item.tag_id,index)"><i class="fa fa-times pl-1 pr-1"
                                                                                   style="color:orange"></i></span>
                                    {{item.tag_title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <label>معرفی اجمالی</label>
                        <vue-editor v-model="content"></vue-editor>
                    </div>

                    <div class="col-md-12 mx-auto mt-5 ">
                        <div class="container-fluid">
                            <div class="product-title">
                                <span>ویژگی های محصول</span>
                            </div>
                            <div class="row features-form pb-3">
                                <div class="col-sm-12 d-inline-block">
                                    <label>عنوان</label>
                                    <input v-model="FeatureKey" class="form-control w-50" placeholder="مثلا: جنس">
                                </div>
                                <div class="col-sm-12 d-inline-block">
                                    <label>توضیحات</label>
                                    <textarea v-model="FeatureValue" class="form-control w-50"
                                              placeholder="کتان"></textarea>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <div class="submit-btn">
                                        <button type="button" @click="AddToList">
                                            افزودن به لیست
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 features-list mt-5">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">عنوان</th>
                                <th class="text-center">توضیحات</th>
                                <th class="text-center">عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="feature in FeatureList">
                                <td>{{feature.title}}</td>
                                <td>{{feature.description}}</td>
                                <td>
                                    <span class="table-btn btn-danger delete" @click="Delete(feature.title)"><i
                                            class="fa fa-trash pl-1"></i>حذف</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-12" v-if="!AddStatus">
                        <div class="add-more-feature mt-3">
                            <button @click="AddFeatures()">
                                <i class="fa fa-plus"></i>
                                افزودن ویژگی های بیشتر
                            </button>
                        </div>
                    </div>

                    <div class="col-12 mt-3 mb-5">
                        <div class="submit-btn">
                            <button>ذخیره</button>
                        </div>
                    </div>


                </div>
            </div>
        </form>
        <div class="backbtn submit-btn">
            <button type="submit" @click="BackToStep1()"> بازگشت به مرحله قبل</button>
        </div>
        <div class="col-md-4 mt-3 text-center mx-auto step-2">
            <label>بارگزاری تصویر محصول</label>
            <!--<file-input></file-input>-->
            <!--<form-upload :id="Product_id"></form-upload>-->

            <form @submit.prevent="HandleSubmit()">
                <div class="form-group">
                    <!--<label>تصویر</label>-->
                    <file-input :files="files" @file-change="setFiles" @file-clear="clearFiles"></file-input>
                </div>
                <progress-bar v-if="isUploading" :progress=progress></progress-bar>
                <button type="submit" class="btn btn-success submit-step-1" :disabled="disableUploadButton">بارگزاری
                </button>

            </form>

            <!--preview-->

            <div id="images ">
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-md-4 mt-2 mb-2" v-for="(gallery,i) in GalleryList">

                            <div class="thumbnail p-1 thumb">
                                <img class="w-100" :src="gallery.file_name">
                                <div class="caption">
                                    <span class="pt-1 pb-1">تصویر شماره{{i+1}}</span>
                                </div>
                            </div>
                            <button @click="DeleteImage(gallery.image_id)" class="remove-pic-button">حذف</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--preview-->

        </div>
    </div>
</template>

<script>
    import swal from 'sweetalert';
    import VueUploadMultipleImage from 'vue-upload-multiple-image';
    import UploadImage from 'vue-upload-image';
    import {VueEditor} from "vue2-editor";
    import FileInput from './FileInput.vue'
    import ProgressBar from "./ProgressBar";

    export default {
        name: "AddProduct",
        components: {
            swal, VueUploadMultipleImage, UploadImage, VueEditor, ProgressBar, FileInput
        },
        data() {
            return {
                name: '',
                gender: '',
                type: '',
                color: '',
                rate: '',
                size: '',
                price: '',
                count: '',
                ProductsIDList: [],
                //tag
                TagId: '',
                TagList: [],
                TagIdList: [],//api
                TagTitle: '',
                Tags: [],
                Description: '',
                //add features
                FeatureKey: '',
                FeatureValue: '',
                FeatureList: [],//api
                AddStatus: false,
                SizeList: [],
                ColorList: [],
                CategoryOne: [],
                SubCatList: [],
                Colors: [],
                ColorTitle: '',
                ColorIdList: [],//api
                SizeTitle: '',
                Sizes: [],
                SizeIdList: [],//api
                //text
                content: "",//api
                Product_id: '',
                GalleryList: [],
                //img
                files: '',
                progress: 0,
                isUploading: false,
                disableUploadButton: true,
                SubmitStepOne: false,
                ImageID: ''

            }
        },
        methods: {
            BackToStep1() {
                $('.step-1').slideDown();
                $('.step-2').slideUp();
                $('.backbtn').slideUp();
            },

            SelectCategory(event) {
                this.gender = event.target.value;
                axios.post(`panel/Option/SubCategory/${this.gender}`)
                    .then(response =>
                        this.SubCatList = response.data)
                    .catch(err => console.log(err))

            },
            SelectType(event) {
                this.type = event.target.value;
                axios.post(`panel/Option/size/${this.type}`)
                    .then(response =>
                        this.SizeList = response.data)
                    .catch(err => console.log(err))

            },
            SelectSize(event) {
                this.size = event.target.value;

                this.SizeTitle = this.SizeList.find(item => item.size_id == this.size).number;

                this.Sizes.push({
                    size_id: this.size, number: this.SizeTitle
                });
                this.SizeIdList.push(this.size);
            },

            RemoveSize(Id, index) {
                let i = index;
                this.Sizes = this.Sizes.filter(item => !(item.size_id == Id));
                let Index = this.SizeIdList.indexOf(Id);
                if (Index > -1) {
                    this.SizeIdList.splice(Index, 1)
                }
            },
            SelectMaterial(event) {
                this.material = event.target.value;
            },
            SelectColor(event) {
                this.color = event.target.value;
                this.ColorTitle = this.ColorList.find(item => item.color_id == this.color).name;
                this.Colors.push({
                    color_id: this.color, name: this.ColorTitle
                });
                this.ColorIdList.push(this.color);
            },
            RemoveColor(Id, index) {
                let i = index;
                this.Colors = this.Colors.filter(item => !(item.color_id == Id));
                let Index = this.ColorIdList.indexOf(Id);
                if (Index > -1) {
                    this.ColorIdList.splice(Index, 1)
                }
            },

            SelectTags(event) {
                this.TagId = event.target.value;
                this.TagTitle = this.TagList.find(item => item.tag_id == this.TagId).tag_title;

                this.Tags.push({
                    tag_id: this.TagId, tag_title: this.TagTitle
                });
                this.TagIdList.push(this.TagId);
            },
            RemoveTag(Id, index) {
                let i = index;
                this.Tags = this.Tags.filter(item => !(item.id == Id));
                let Index = this.TagIdList.indexOf(Id);
                if (Index > -1) {
                    this.TagIdList.splice(Index, 1)
                }
            },
            AddFeatures() {
                $('.features-form').slideDown();
                $('.product-title').fadeIn();
                this.AddStatus = true
            },
            AddToList() {

                if (this.FeatureKey != '' && this.FeatureValue != '') {
                    this.FeatureList.push({
                        title: this.FeatureKey,
                        description: this.FeatureValue,
                    });
                    this.FeatureKey = '';
                    this.FeatureValue = '';
                    this.AddStatus = false;

                    $('.features-list').slideDown();
                } else {
                    swal({
                        title: "عملیات ناموفق",
                        text: "لطفا عنوان و توضیحات را وارد نمایید.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }

            },
            Delete(ID) {
                this.FeatureList = this.FeatureList.filter(item => !(item.title == ID));
            },
            UpdateFeature() {
                this.FeatureList.push({
                    title: this.FeatureObj.title,
                    description: this.FeatureObj.description,
                });
            },
            GetColor() {
                axios.get('/Option/color')
                    .then(response =>
                        this.ColorList = response.data)
                    .catch(err => console.log(err))
            },
            GetCategoryOne() {
                axios.get('/Option/SubCategory')
                    .then(response =>
                        this.CategoryOne = response.data)
                    .catch(err => console.log(err))
            },
            GetTags() {
                axios.get('/Option/tag')
                    .then(response =>
                        this.TagList = response.data)
                    .catch(err => console.log(err))
            },
            AddProduct() {

                let json2 = JSON.stringify(this.TagIdList);
                let post_data2 = {json_data: json2};

                let json3 = JSON.stringify(this.FeatureList);
                let post_data3 = {json_data: json3};

                let json4 = JSON.stringify(this.ColorIdList);
                let post_data4 = {json_data: json4};

                let json5 = JSON.stringify(this.SizeIdList);
                let post_data5 = {json_data: json5};

                let formdata = new FormData();
                formdata.append('tag_id', post_data2.json_data);
                formdata.append('features', post_data3.json_data);
                formdata.append('color_id', post_data4.json_data);
                formdata.append('size_id', post_data5.json_data);
                formdata.append('name', this.name);
                formdata.append('score', this.rate);
                formdata.append('price', this.price);
                formdata.append('count', this.count);
                formdata.append('description', this.content);
                formdata.append('category_id', this.type);


                if(this.ProductsIDList.indexOf(this.Product_id) > -1){
                    axios.post(`/Product/update/${this.Product_id}`, formdata)
                        .then((response) => {

                            this.Product_id = response.data.product_id;
                            this.SubmitStepOne = true;
                            $('.step-2').slideDown();
                            $('.step-1').slideUp();
                            $('.backbtn').slideDown();
                        })
                        .catch(err => console.log(err))
                }else{
                    axios.post('/Product/store', formdata)
                        .then((response) => {

                            this.Product_id = response.data.product_id;
                            this.ProductsIDList.push(this.Product_id);
                            console.log(this.ProductsIDList)
                            this.SubmitStepOne = true;
                            $('.step-2').slideDown();
                            $('.step-1').slideUp();
                            $('.backbtn').slideDown();
                        })
                        .catch(err => console.log(err))
                }
            },

            // upload imgage

            clearFiles() {
                this.files = [];
                this.disableUploadButton = true;
            },

            setFiles(files) {
                if (files != undefined) {
                    this.files = files;
                    this.disableUploadButton = false
                }
            },

            async HandleSubmit() {
                this.isUploading = true;
                this.disableUploadButton = true;
                let formdata = new FormData();
                for (let file of this.files) {
                    formdata.append('file_name[]', file, file.name)
                }

                await axios.post(`/panel/Gallery/store/${this.Product_id}`, formdata, {
                    onUploadProgress: e => {
                        if (e.lengthComputable) {
                            this.progress = (e.loaded / e.total) * 100;
                        }
                    }
                })
                    .then(response => {
                        console.log(response.data);
                        setTimeout(() => {
                            this.isUploading = false;
                            this.files = []
                        }, 1000)

                    }).catch(err => console.log(err))
                this.GetGallery();
            },
            GetGallery() {
                axios.get(`/panel/Gallery/showImage/${this.Product_id}`)
                    .then(response => {
                        this.GalleryList = response.data;
                    })
                    .catch(err => console.log(err))
            },
            DeleteImage(ImageId){
                this.ImageID = ImageId;
                this.GalleryList = this.GalleryList.filter((item) => !(item.image_id == ImageId)) ;
                axios.delete(`/panel/Gallery/delete/${this.ImageID}`)
                    .then(response => {
                    })
                    .catch(err => console.log(err))

    },

        },

        created() {
            this.GetColor();
            this.GetCategoryOne();
            this.GetTags();

        },
    }
</script>

<style>

    .cursor-pointer.display-flex.align-items-center {
        /*display: none !important;*/
    }

    .preview-image {
        height: 140px;
        padding: 5px;
        /* border-radius: 15px; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
    }

    .drag-text {
        display: none !important;
    }

    .image-bottom {
        bottom: 0;
        left: 0;
        height: 40px;
        padding: 5px 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: white;
    }

    .image-container.position-relative.text-center {
        margin: auto;
    }

    .image-container.position-relative.text-center {
        background: #fff
    }

    .image-icon-drag[data-v-10e59822] {
        fill: #888181 !important;
        height: 80px !important;
        width: 80px !important;
        background: white !important;
        padding: 6px !important;
        border-radius: 5px !important;
    }

    .image-list-container.display-flex.flex-wrap {
        margin: auto;
    }

    .image-edit.display-flex.cursor-pointer {
        padding-left: 7px;
    }

    /*.image-container{*/
    /*width: 100px !important;*/
    /*height: 100px !important;*/
    /*border: 1px dashed #00BCD4 !important;*/
    /*border-radius: 4px !important;*/
    /*}*/

    .image-container {
        width: 100% !important;
        /*height:auto !important;*/
    }

    .show-image.centered {
        top: 36% !important;
    }

    .image-container.position-relative.text-center {
        background: transparent !important;
    }

    image-bottom-left.display-flex.align-items-center .display-flex.align-items-center,
    .text-small.mark-text-primary.cursor-pointer {
        display: none !important;
    }

    #mceu_18-body {
        display: none !important;
    }

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
        text-align: center !important;
    }

    #tinymce, .mce-content-body {
        text-align: right !important;
    }

    #d1_ifr html {
        text-align: right !important;
    }

    /*#files {*/
    /*display: none;*/
    /*}*/

    div.file-listing {
        width: 200px;
    }

    span.remove-file {
        color: red;
        cursor: pointer;
        float: right;
    }



</style>