<template>
    <div class="container-fluid">
       <form @submit.prevent="AddTag()">
           <div class="row">
               <div class="col-md-3">
                   <label>عنوان تگ</label>
                   <input class="form-control" v-model="tag_name"/>
               </div>
               <div class="col-md-3">

                   <ul class="feature-list mt-2">
                       <li v-for="(item,index) in TagList">
                                    <span @click="RemoveTag(item.tag_id)"><i class="fa fa-times pl-1 pr-1" style="color:orange"></i></span>
                           {{item.tag_title}}
                       </li>
                   </ul>
               </div>
               <div class="col-12">
                   <div class="submit-btn">
                       <button>ذخیره</button>
                   </div>
               </div>
           </div>
       </form>
    </div>
</template>

<script>
    export default {
        name: "AddTag",
        data(){
            return{
                TagList:[],
                tag_name:'',
            }
        },
        methods:{
            RemoveTag(ID){
                this.TagList = this.TagList.filter(item=> !(item.tag_id == ID));
                axios.delete(`/panel/Tag/delete/${ID}`, this.TagList)
                    .then((response) => {
                        swal({
                            title: "عملیات موفق",
                            text: "برچسب مورد نظر با موفقیت حذف شد.",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(err => console.log(err))
            },
            AddTag(){

                let formdata = new FormData();
                formdata.append('tag_title', this.tag_name);

                axios.post('/panel/Tag/store', formdata)
                    .then((response) => {
                        swal({
                            title: "عملیات موفق",
                            text: "برچسب ها با موفقیت ثبت شدند.",
                            icon: "success",
                            button: "تایید",
                        });
                        window.location.reload();

                    })
                    .catch(err => console.log(err))
                this.this.tag_name = ''
            },
            GetTagList(){
                axios.get('/panel/Tag/list')
                    .then(response => {
                        this.TagList = response.data;
                    })
                    .catch(err => console.log(err))
            }
        },
        created(){
            this.GetTagList();
        }
    }
</script>

<style scoped>

</style>