<template>
    <div id="AllProducts">
        <div class="container-fluid">
            <div class="row table-div">
                <table class="table">
                    <thead>
                    <th>ردیف</th>
                    <th>عنوان</th>
                    <th>نوع</th>
                    <!--<th>امتیاز</th>-->
                    <th>جزئیات</th>
                    <th>عملیات</th>
                    </thead>
                    <tbody>
                    <tr v-for="(prod,index) in ProductList">
                        <td>{{index+1}}</td>
                        <td>{{prod.name}}</td>
                        <td>{{prod.category_id}}</td>
                        <!--<td>{{prod.score}}</td>-->
                        <td>
                            <span class="table-btn btn-info view"
                                  data-toggle="modal" data-target="#Display"><i class="fa fa-eye"></i></span>
                        </td>
                        <td>
                              <span class="table-btn btn-success edit" data-toggle="modal" data-target="#Edit"
                                    @click="Edit(prod.id)"><i class="fa fa-edit"></i></span>
                            <span class="table-btn btn-danger delete" @click="Delete(prod.id)"><i
                                    class="fa fa-trash"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center w-100" v-if="!ProductList.length">محصولی موجود نیست</div>
                <div id="Display" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center w-100">اطلاعات بیشتر</h5>
                            </div>
                            <div class="modal-body">
                                <!--<p v-html="Description"></p>-->

                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn w-100 mx-auto" data-dismiss="modal">بستن</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="Edit" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center w-100">توضیحات</h5>
                                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="Update()">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>بارگزاری تصویر</label>
                                                <!--preview-->
                                                <div class="avatar-div">
                                                    <!--<img v-if="ArticleObject.imgUrl == null" class="output avatar-img"-->
                                                         <!--src="/images/LOGO.png">-->
                                                    <!--<img v-else class="output avatar-img" :src="ArticleObject.imgUrl">-->
                                                </div>
                                                <!--preview-->
                                                <label  class="upload-btn userImg-btn"><i
                                                        class="fa fa-upload"></i></label>
                                                <!--<input style="visibility:hidden;" id="files" type="file"-->
                                                       <!--class="upload-btn"-->
                                                       <!--accept="image/*"-->
                                                       <!--@change="UploadImage($event)" name="imgUrl">-->
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <label>عنوان</label>
                                                <!--<input class="form-control" v-model="ArticleObject.title">-->
                                            </div>
                                            <div class="col-md-12">
                                                <label>توضیحات</label>
                                                <!--<input class="form-control" v-model="ArticleObject.description">-->
                                                <!--<vue-editor v-model="ArticleObject.description"></vue-editor>-->
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="submit-btn">
                                                    <button>ذخیره</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn w-100 mx-auto" data-dismiss="modal">بستن</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AllProducts",
        data() {
            return {
                ProductList: [],
            }
        },
        methods: {
            GetList() {
                axios.get('/Product/list')
                    .then(response => this.ProductList = response.data)
                    .catch(err => console.log(err))
            },
            Edit(id) {
                this.ArticleId = id;
                this.ArticleObject = this.Articles.find(item => item.id == this.ArticleId)
            },
            Delete(id) {
                swal({
                    title: "آیا از حذف مقاله مطمئن هستید؟",
                    icon: "warning",
                    buttons: {
                        cancel: "لغو",
                        confirm: "تایید",
                    },
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.ArticleId = id;
                            this.Articles = this.Articles.filter(item => !(item.id == this.ArticleId));
                            axios.delete(`panel/Blog/delete/${this.ArticleId}`, this.Articles)
                                .then(response => {
                                    console.log(response.data);
                                    swal({
                                        title: "عملیات موفق",
                                        text: "حذف مقاله با موفقیت انجام گردید",
                                        icon: "success",
                                        button: "تایید",
                                    });
                                })
                                .catch(err => {
                                });
                        }
                    });


            },
        },
        created() {
            this.GetList();
        }
    }
</script>

<style scoped>

</style>