<template>
    <div id="Articles">
        <div class="container-fluid">
            <div class="row table-div">
                <table class="table">
                    <thead>
                    <th>ردیف</th>
                    <th>عنوان</th>
                    <th>تصویر</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                    </thead>
                    <tbody>
                    <tr v-for="(articles,index) in Articles">
                        <td>{{index+1}}</td>
                        <td>{{articles.title}}</td>
                        <td><img :src="articles.imgUrl" :alt="articles.title"></td>
                        <td><span @click="Display(articles.description)" class="table-btn btn-info view"
                                  data-toggle="modal" data-target="#Display"><i class="fa fa-eye pl-1"></i>مشاهده</span>
                        </td>
                        <td>
                            <span class="table-btn btn-success edit" data-toggle="modal" data-target="#Edit"
                                  @click="Edit(articles.id)"><i class="fa fa-edit pl-1"></i>ویرایش</span>
                            <span class="table-btn btn-danger delete" @click="Delete(articles.id)"><i
                                    class="fa fa-trash pl-1"></i>حذف</span>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div class="text-center w-100" v-if="!Articles.length">مقاله ای موجود نیست</div>

                <div id="Display" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center w-100">توضیحات</h5>
                                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            </div>
                            <div class="modal-body">
                                <p v-html="Description"></p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn w-100 mx-auto" data-dismiss="modal">بستن</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="Edit" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center w-100">توضیحات</h5>
                                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="Update()">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>بارگزاری تصویر</label>
                                                <!--preview-->
                                                <div class="avatar-div">
                                                    <img v-if="ArticleObject.imgUrl == null" class="output avatar-img"
                                                         src="/images/LOGO.png">
                                                    <img v-else class="output avatar-img" :src="ArticleObject.imgUrl">
                                                </div>
                                                <!--preview-->
                                                <label for="files" class="upload-btn userImg-btn"><i
                                                        class="fa fa-upload"></i></label>
                                                <input style="visibility:hidden;" id="files" type="file"
                                                       class="upload-btn"
                                                       accept="image/*"
                                                       @change="UploadImage($event)" name="imgUrl">
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <label>عنوان</label>
                                                <input class="form-control" v-model="ArticleObject.title">
                                            </div>
                                            <div class="col-md-12">
                                                <label>توضیحات</label>
                                                <!--<input class="form-control" v-model="ArticleObject.description">-->
                                                <vue-editor v-model="ArticleObject.description"></vue-editor>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="submit-btn">
                                                    <button>ذخیره</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn w-100 mx-auto" data-dismiss="modal">بستن</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";

    export default {
        name: "Articles",
        data() {
            return {
                Articles: [],
                Description: '',
                ArticleId: '',
                ArticleObject: '',
                image: '',
                PreviewImg: '',
            }
        },
        methods: {
            GetList() {
                axios.get('panel/Blog/list')
                    .then(response => this.Articles = response.data)
                    .catch(err => console.log(err))
            },
            UploadImage(event) {
                this.image = event.target.files[0];
                console.log(this.image)
                let ImageSize = this.image.size / 1024 / 1024; //mb
                if (ImageSize > 1) {
                    swal({
                        title: "عملیات ناموفق",
                        text: "حجم تصویر باید کمتر از 1 مگابایت باشد.",
                        icon: "error",
                        button: "تایید",
                    });
                    return;
                }
                // ----preview----
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.PreviewImg = e.target.result;
                };
                reader.readAsDataURL(event.target.files[0]);
                // ----preview----

            },
            Display(description) {
                this.Description = description;
            },
            Edit(id) {
                this.ArticleId = id;
                this.ArticleObject = this.Articles.find(item => item.id == this.ArticleId)
            },
            Delete(id) {
                swal({
                    title: "آیا از حذف مقاله مطمئن هستید؟",
                    icon: "warning",
                    buttons: {
                        cancel: "لغو",
                        confirm: "تایید",
                    },
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.ArticleId = id;
                            this.Articles = this.Articles.filter(item => !(item.id == this.ArticleId));
                            axios.delete(`panel/Blog/delete/${this.ArticleId}`, this.Articles)
                                .then(response => {
                                    console.log(response.data);
                                    swal({
                                        title: "عملیات موفق",
                                        text: "حذف مقاله با موفقیت انجام گردید",
                                        icon: "success",
                                        button: "تایید",
                                    });
                                })
                                .catch(err => {
                                });
                        }
                    });


            },
            Update() {
                let formdata = new FormData();
                formdata.append('title', this.ArticleObject.title);
                formdata.append('description', this.ArticleObject.description);
                formdata.append('imgUrl', this.image);
                axios.post(`panel/Blog/update/${this.ArticleId}`, formdata)
                    .then(response => {
                        console.log(response);
                        swal({
                            title: "عملیات موفق",
                            text: "اطلاعات با موفقیت بروزرسانی شد.",
                            icon: "success",
                            button: "تایید",
                        });
                    })
                    .catch(err => console.log(err))
            }
        },
        created() {
            this.GetList();
        },
        components:{
            VueEditor
        }
    }
</script>

<style>
.ql-link,.ql-image,.ql-video{
    display: none !important;
}
.ql-editor{
    text-align:right !important;
}
.quillWrapper{
    background : white !important;
}
</style>