<template>
    <div class="container-fluid">
        <div class="row table-div">
            <table class="table">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام محصول</th>
                    <th>دسته بندی</th>
                    <th>نام کاربر</th>
                    <th>پیام</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(prod,i) in Products">
                    <td>{{i+1}}</td>
                    <td>{{prod.product.name}}</td>
                    <td v-if="prod.product.category_id != null ">{{prod.product.category.category_title}}</td>
                    <td v-else>فاقد دسته بندی</td>
                    <td>{{prod.user.name}} {{prod.user.last_name}}</td>
                    <td><span @click="Display(prod.massage)" class="table-btn btn-info view"
                              data-toggle="modal" data-target="#Display">مشاهده</span></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center w-100" v-if="!Products.length">نظری موجود نیست</div>
            <div id="Display" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title text-center w-100">پیام کاربر</h5>
                        </div>
                        <div class="modal-body">
                            <p v-text="message"></p>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn w-100 mx-auto" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Comments",
        data(){
            return{
                Products:[],
                message:'',
            }
        },
        methods:{
            GetProducts(){
                axios.get('/Product/commentList')
                    .then(response =>
                        this.Products = response.data)
                    .catch(err => console.log(err))
            },
            Display(msg){
                this.message = msg;
            }
        },
        created(){
            this.GetProducts()
        }
    }
</script>

<style scoped>

</style>