<template>
    <div id="Favorites">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" v-for="product in FavoriteList">
                    <div class="box">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 item">
                                    <div class="fav-image">
                                        <span><img class="w-50" :src="'/'+product.gallery[0].file_name"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 item">
                                    <div class="fav-name">
                                        <span>{{product.name}}</span>
                                    </div>
                                </div>

                                <div class="col-md-4 item">
                                    <div class="fav-price">
                                        <span>{{product.price}} تومان</span>
                                    </div>
                                </div>
                                <div class="col-md-6 item">
                                    <div class="fav-display ">
                                        <button class="btn-success p-1" type="button" @click="GoToProduct(product.product_id)"><i class="fa fa-eye pl-1"></i>مشاهده محصول</button>
                                    </div>
                                </div>
                                <div class="col-md-6 item">
                                    <div class="fav-remove ">
                                        <button type="button" class="btn-danger p-1" @click="RemoveProduct(product.product_id)"><i class="fa fa-trash pl-1"></i>حذف محصول</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="!FavoriteList.length" class="col-12">
                    <div class="box">
                        <p>لیست علاقمندی شما خالی است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Favorites",
        data(){
            return{
                FavoriteList:[],
                product_id:''
            }
        },
        methods:{
            GetProducts(){
                axios.get('/panel/Favorite/my_favorites')
                    .then(response => {this.FavoriteList = response.data})
                    .catch(err=>console.log(err))
                console.log(this.Products)

            },
            GoToProduct(ID){
                this.product_id  = ID;
                this.$router.push({name: 'SingleProduct', params: {id:this.product_id}});
                window.location.reload();
            },
            RemoveProduct(ID){
                this.product_id  = ID;
                this.FavoriteList = this.FavoriteList.filter(item=> !(item.product_id == this.product_id));
                axios.delete(`/panel/Favorite/delete/${this.product_id}`)
                    .then(response => {

                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        created(){
            this.GetProducts();
        }
    }
</script>

<style scoped>

</style>