<template>
    <div id="ImageUploader">
        <div class="panel panel-default">
            <!--<div class="panel-heading">بارگزاری تصویر</div>-->
            <div class="panel-body">
                <form>
                    <div class="form-group text-center">
                        <div class="input-group">
                            <input class="form-control" :value="GetFileName()" type="text"
                                   placeholder="تصاویر مورد نظر خود را انتخاب کنید" readonly>
                            <span class="input-group-btn">
                                               <button type="button" class="btn btn-primary" @click="ShowFilePicker()">
                                                   <i class="fa fa-paperclip"></i>
                                               </button>
                                 <button v-if="files.length" type="button" class="btn btn-danger" @click="$emit('file-clear')">
                                                   <i class="fa fa-trash"></i>
                                               </button>
                                           </span>
                        </div>
                        <input ref="file" style="display:none;" class="w-100 mx-auto" multiple type="file"
                               @change="OnChange()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FileInput",
        data() {
            return {
                // files: [],
            }
        },
        props:['files'],
        methods: {
            ShowFilePicker() {
                this.$refs.file.click();
            },
            OnChange() {
                // this.files = event.target.files
                // this.$emit('file-change', this.files)

                let files = event.target.files
                this.$emit('file-change', files)
            },
            GetFileName() {
                let filesName = [];
                if (this.files.length > 0) {
                    for (let file of this.files) {
                        filesName.push(file.name)
                    }
                }
                return filesName.join(", ");
            }
        }
    }
</script>

<style scoped>

</style>