<template>
    <div id="FirstPage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <router-link :to="{name:'AllProducts'}">
                        <div class="products box">
                            <div class="top badge-secondary">
                            <span>
                                <i class="fa fa-archive"></i>
                            </span>
                                <span class="font-weight-bold">{{Products}} محصول</span>
                            </div>
                            <div class="bottom text-muted">
                            <span class="float-right pr-2">
                                <i class="fa fa-arrow-alt-circle-right "></i>
                            </span>
                                <span class="float-left pl-2">لیست محصولات</span>

                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <router-link :to="{name:'Comments'}">
                        <div class="comments box">
                            <div class="top badge-primary">
                            <span>
                                <i class="fa fa-comment"></i>
                            </span>
                                <span class="font-weight-bold">{{Comments}} پیام</span>
                            </div>
                            <div class="bottom text-primary">
                            <span class="float-right pr-2">
                                <i class="fa fa-arrow-alt-circle-right "></i>
                            </span>
                                <span class="float-left pl-2">لیست پیام ها</span>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <router-link :to="{name:'Users'}">
                        <div class="members box">
                            <div class="top badge-success">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                                <span class="font-weight-bold">{{Members}} عضو</span>
                            </div>
                            <div class="bottom text-success">
                             <span class="float-right pr-2">
                                <i class="fa fa-arrow-alt-circle-right "></i>
                            </span>
                                <span class="float-left pl-2">لیست اعضا</span>
                            </div>
                        </div>
                    </router-link>

                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <router-link :to="{name:'OrdersList'}">
                        <div class="orders box">
                            <div class="top badge-danger">
                            <span>
                                <i class="fa fa-shopping-basket"></i>
                            </span>
                                <span class="font-weight-bold">{{Orders}} سفارش</span>
                            </div>
                            <div class="bottom text-danger">
                             <span class="float-right pr-2">
                                <i class="fa fa-arrow-alt-circle-right "></i>
                            </span>
                                <span class="float-left pl-2">لیست سفارشات</span>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FirstPage",
        data() {
            return {
                Products: '',
                Comments: '',
                Orders: '',
                Members: '',
            }
        },
        methods: {
            GetComments() {
                axios.get('/Count/comment')
                    .then(response => {
                        this.Comments = response.data;
                    })
                    .catch(err => console.log(err))
            },
            GetOrders() {
                axios.get('/Count/category')
                    .then(response => {
                        this.Orders = response.data;
                    })
                    .catch(err => console.log(err))
            },
            GetMembers() {
                axios.get('/Count/user')
                    .then(response => {
                        this.Members = response.data;
                    })
                    .catch(err => console.log(err))
            },
            GetProducts() {
                axios.get('/Count/product')
                    .then(response => {
                        this.Products = response.data;
                    })
                    .catch(err => console.log(err))
            },
        },
        created() {
            this.GetComments();
            this.GetOrders();
            this.GetMembers();
            this.GetProducts();
        }
    }
</script>

<style scoped>

</style>