<template>
  <div>

      <form @submit.prevent="HandleSubmit()">
          <div class="form-group">
              <!--<label>تصویر</label>-->
              <file-input :files="files" @file-change="setFiles" @file-clear="clearFiles"></file-input>
          </div>
          <progress-bar v-if="isUploading" :progress = progress></progress-bar>
          <button type="submit" class="btn btn-success submit-step-1" :disabled="disableUploadButton" >بارگزاری</button>

      </form>
  </div>
</template>

<script>
    import FileInput from './FileInput.vue'
    import ProgressBar from "./ProgressBar";
    export default {

        name: "FormUpload",
        components:{ProgressBar, FileInput},
        // props:{
        //     id:{
        //         type: Number,
        //         required: true,
        //         default: 0,
        //     }
        // },

        data(){
            return{
                files:'',
                progress:0,
                isUploading: false,
                disableUploadButton: true,
            }
        },
        methods:{
            // DisplayStepTwo(){
            //     $('.step-2').slideDown();
            // },

            clearFiles(){
                this.files = [];
                this.disableUploadButton = true;
            },

            setFiles(files){
                if(files != undefined){
                    this.files = files;
                    this.disableUploadButton = false
                }
            },

            HandleSubmit(){
                this.isUploading = true;
                this.disableUploadButton = true;
                let formdata = new FormData();
                for(let file of this.files){
                    formdata.append('file_name[]',file,file.name)
                }

                axios.post(`/panel/Gallery/store/${id}`,formdata,{
                    onUploadProgress: e => {
                        if (e.lengthComputable){
                            this.progress = (e.loaded / e.total)*100;
                            console.log(this.progress)
                        }
                    }
                })
                    .then(response =>{
                        console.log('uploaded');
                        setTimeout(() => {
                            this.isUploading = false;
                            this.files = []
                        },1000)

                    }).catch(err=>console.log(err))
            },


        },
        created(){
            // this.Product_id = this.$store.state.Product_id_gallery;
            // this.Product_id = this.$store.state.Product_id_gallery;
            // // console.log(this.Product_id)
            // // console.log(Product_id)
        }

    }
</script>

<style scoped>

</style>