<template>
    <div class="container-fluid">
        <div class="row table-div">
            <table class="table">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام کاربر</th>
                    <th>ایمیل</th>
                    <th>تاریخ عضویت</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in List">
                    <td>{{index + 1}}</td>
                    <td>{{item.user.name}} {{item.user.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.created_at}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsLetterUsers",
        data(){
            return{
                List:[],
            }
        },
        methods:{
            GetList(){
                axios.get('/NewsLetter/list')
                    .then(response => {
                        this.List = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        created(){
            this.GetList();
        }
    }
</script>

<style scoped>

</style>