<template>
    <div>
        <div class="container-fluid">
            <div class="row table-div">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <th>ردیف</th>
                        <th>نام مشتری</th>
                        <th>نام محصول</th>
                        <th>قیمت واحد</th>
                        <th>سایز</th>
                        <th>رنگ</th>
                        <th>تعداد سفارش</th>
                        <th>قیمت کل</th>
                        </thead>
                        <tbody>
                        <tr v-for="(order,index) in Orders">
                            <td>{{index+1}}</td>
                            <td>کاربر</td>
                            <td>{{order.product.name}}</td>
                            <td>{{order.price}} تومان</td>
                            <td>{{order.size.number}}</td>
                            <td>{{order.color.name}}</td>
                            <td>{{order.count}}</td>
                            <td>{{order.total_price}} تومان</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrdersList",
        data(){
            return{
                Orders:[]
            }
        },
        methods:{
            GetOrders() {
                axios.get('/Cart/list')
                    .then(response => {
                        this.Orders = response.data.cart;
                    })
                    .catch(err => console.log(err))
            },
        },
        created(){
            this.GetOrders();
        }
    }
</script>

<style scoped>

</style>
