<template>
    <div class="progress w-50 mx-auto mb-3 mt-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 50%">
            {{progress < 100 ? getProgress : "در حال بارگزاری"}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProgressBar",
        props:{
            progress:{
                type: Number,
                default: 0
            }
        },
        computed:{
            getProgress(){
                return Math.round(this.progress) + '%'
            }
        }
    }
</script>

<style scoped>

</style>