<template>
    <div id="Users">
        <div class="container-fluid">
            <div class="row table-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>تصویر</th>
                        <th>نام و نام خانوادگی</th>
                        <th>نام کاربری</th>
                        <th>ایمیل</th>
                        <th>موبایل</th>
                        <th>شماره ثابت</th>
                        <th>تاریخ تولد</th>
                        <th>کد ملی</th>
                        <th>کشور</th>
                        <th>استان</th>
                        <th>شهر</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in List">
                        <td>{{index + 1}}</td>
                        <td><img :src="'/'+item.avatar"></td>
                        <td>{{item.name}} {{item.last_name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.mobile}}</td>
                        <td v-if="item.phone != null || item.phone != ''">{{item.phone}}</td>
                        <td v-else>وارد نشده است</td>
                        <td>{{item.birthday_date}}</td>
                        <td v-if="item.national_code == null || item.national_code == ''">وارد نشده است</td>
                        <td v-else>{{item.national_code}}</td>
                        <td>{{item.country_name}}</td>
                        <td>{{item.state_name}}</td>
                        <td>{{item.city_name}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Users",
        data(){
            return{
                List:[],
            }
        },
        methods:{
            GetList(){
                axios.get('/panel/Account/list')
                    .then(response => {
                        this.List = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        created(){
            this.GetList();
        }
    }
</script>

<style scoped>

</style>