body {
    direction: rtl;
    text-align: right;
    background-color: #e8f1e8;
}
.code-marketing{
    background: #795548;
    padding: 3px;
    border-radius: 3px;
}
dd {
    margin-right: 0;
}

figure {
    margin: 0 0 1rem;
}

caption {
    text-align: right;
}

th {
    text-align: right;
}
.table{
    background: #e7e4cc;

    overflow-x: auto;

}
.table th{
    padding: 0.25rem;
}
.table tr:nth-child(even){
    background: #ccccaf;
}
.modal-header{
    background: #dee2e6;
}
.modal-footer button{
    background: #FFC107;
    color: white;
}
button{
    border: none;
    background: none;
    outline: none;
}
button:focus{
    outline: unset !important;

}
.table-btn{
    padding: 5px 10px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
}
#AllProducts .table-btn{
    padding: 5px 10px;
}
.list-unstyled {
    padding-right: 0;
}

.list-inline {
    padding-right: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-left: 5px;
}

.blockquote {
    border-left: none;
    border-right: 0.25rem solid #eceeef;
}

.blockquote-reverse {
    padding-left: 1rem;
    padding-right: 0;
    text-align: left;
    border-left: 0.25rem solid #eceeef;
    border-right: 0;
}

dl.row>dd+dt {
    clear: right;
}

.pull-0 {
    left: auto;
}

.pull-1 {
    left: 8.33333%;
}

.pull-2 {
    left: 16.66667%;
}

.pull-3 {
    left: 25%;
}

.pull-4 {
    left: 33.33333%;
}

.pull-5 {
    left: 41.66667%;
}

.pull-6 {
    left: 50%;
}

.pull-7 {
    left: 58.33333%;
}

.pull-8 {
    left: 66.66667%;
}

.pull-9 {
    left: 75%;
}

.pull-10 {
    left: 83.33333%;
}

.pull-11 {
    left: 91.66667%;
}

.pull-12 {
    left: 100%;
}

.push-0 {
    right: auto;
}

.push-1 {
    right: 8.33333%;
}

.push-2 {
    right: 16.66667%;
}

.push-3 {
    right: 25%;
}

.push-4 {
    right: 33.33333%;
}

.push-5 {
    right: 41.66667%;
}

.push-6 {
    right: 50%;
}

.push-7 {
    right: 58.33333%;
}

.push-8 {
    right: 66.66667%;
}

.push-9 {
    right: 75%;
}

.push-10 {
    right: 83.33333%;
}

.push-11 {
    right: 91.66667%;
}

.push-12 {
    right: 100%;
}

.offset-1 {
    margin-right: 8.33333%;
}

.offset-2 {
    margin-right: 16.66667%;
}

.offset-3 {
    margin-right: 25%;
}

.offset-4 {
    margin-right: 33.33333%;
}

.offset-5 {
    margin-right: 41.66667%;
}

.offset-6 {
    margin-right: 50%;
}

.offset-7 {
    margin-right: 58.33333%;
}

.offset-8 {
    margin-right: 66.66667%;
}

.offset-9 {
    margin-right: 75%;
}

.offset-10 {
    margin-right: 83.33333%;
}

.offset-11 {
    margin-right: 91.66667%;
}

.nav-color {
    background-color: rgb(59, 59, 59) !important;
    background-color: #338036;;
}


#sidebar-wrapper {
    background-color: #226699;
}

.sidebar-nav li:focus,
.sidebar-nav li:hover,
.sidebar-nav li:active {
    background-color: #e8f1e8;
    color: #226699 !important;
    transition: all 0.5s;
}

.sidebar-nav li:focus a,
.sidebar-nav li:hover a,
.sidebar-nav li:active a,
.sidebar-nav li:focus-within a,
.sidebar-nav li:visited a {
    background-color: #e8f1e8;
    color: #226699 !important;
    font-weight: bold;
    transition: all 0.9s;
}

.sidebar-nav li:focus i,
.sidebar-nav li:hover i,
.sidebar-nav li:active i,
.sidebar-nav li:focus-within i,
.sidebar-nav li:visited i {
    background-color: #e8f1e8;
    color: #226699 !important;
    transition: all 0.9s;
}
.site a{
    padding: 5px 10px;
    background: #00BCD4;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.sidebar-nav li a {
    width: auto;
    /* background-color: red */
}

.sidebar-wrapper {
    width: 14% !important;
}

.sidebar-nav {
    padding-top: 20px;
}

.info-a {
    padding: 13px 85px;
    padding-right: 0px;
}

.cv-a {
    padding: 13px 115px;
    padding-right: 0px;
}

.business-a {
    padding: 13px 77px;
    padding-right: 0px;
}

.panel {
    color: white;
    font-size: 16px;
    padding-right: 10px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

.Hello {
    float: left;
    color: white;
    position: absolute;
    left: 60px;
    font-size: 16px;
}

.role {
    padding-right: 40px;
}

.user-name,
.user-role {
    padding-right: 7px;
}

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: inline;
    text-decoration: none;
    color: white;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.active {
    background-color: #e8f1e8 !important;
    color: #226699 !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-right: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.gender-label {
    margin-left: 20px;
}

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
}

button {
    cursor: pointer;
}

.tab button:hover {
    background-color: #ddd;
    transition: all 0.5s;
}

.tab button.active {
    background-color: #ccc;
}

#sidebar-wrapper {
    padding-right: 0 !important;
    top: 55px;

    position: fixed;
    top: 0;
    margin-bottom: 20px;
    z-index: 3;
}

.tabcontent {
    margin-top: 56px;
}


.titles h3 {
    padding-top: 30px;
}


.navbar {
    direction: rtl;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

.form-group {
    text-align: left;
}

.avatar-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    right: 0;
    /*border-radius: 50%;*/
    margin-top: 5px;
    box-shadow: 0px 0px 9px #6c757d;
    overflow: hidden;
}

.upload-div {
    text-align: center;
    margin: auto;
}

.avatar-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.upload-btn {
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    top: 16px;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    line-height: 30px;
    color: white;
    font-size: 10px;
}

.avatar {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-lg-3 {
    display: inline-block !important;
    margin: auto;
}

#list {
    display: block;
}

hr {
    width: 40%;
}

.fa-upload {
    padding-left: 0;
}

.form-control {
    margin: auto;
}


.upload-btn {
    padding-top: 0;
}


.upload-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    right: 0;
    margin-top: 5px;
    box-shadow: 0px 0px 9px #226699;
    overflow: hidden;
}

.submit-btn{
    margin-top: 5px;
    margin-bottom: 10px;
}
.submit-btn button{
    padding: 3px 20px;
    border-radius: 4px;
    border: none;
    background: #6c757d;
    color: white;
}
/*---add product*/
.feature-list{
    list-style: none;
}
.feature-list li{
    display: inline-block;
    padding: 3px;
    border: 1px dotted lightgrey;
    border-radius: 3px;
    background: lightgoldenrodyellow;
    margin: 3px;
}
.features-form{
    /*border: 1px solid grey;*/
    /*display: none;*/
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 30px;
}
.product-title{
    position: relative;
    top: 9px;
    /*display: none;*/
    /*border-radius: 50%;*/

}
.product-title span{
    /*border-radius: 50%;*/

    background: grey;
    color:white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.features-form .form-control::placeholder{
    color: lightgrey;
}
.add-more-feature{
    width: 100%;
    height: 30px;
    color: white;
    background: grey;
    text-align: center;
    display: none;
}
.add-more-feature button{
    color: white;
    width: 100%;
}
.features-list{
    display: none;
}
.actions{
    padding: 1px 10px;
    cursor: pointer;
}
/* -------------media---------- */

@media (min-width: 544px) {
    .pull-sm-0 {
        left: auto;
    }
    .pull-sm-1 {
        left: 8.33333%;
    }
    .pull-sm-2 {
        left: 16.66667%;
    }
    .pull-sm-3 {
        left: 25%;
    }
    .pull-sm-4 {
        left: 33.33333%;
    }
    .pull-sm-5 {
        left: 41.66667%;
    }
    .pull-sm-6 {
        left: 50%;
    }
    .pull-sm-7 {
        left: 58.33333%;
    }
    .pull-sm-8 {
        left: 66.66667%;
    }
    .pull-sm-9 {
        left: 75%;
    }
    .pull-sm-10 {
        left: 83.33333%;
    }
    .pull-sm-11 {
        left: 91.66667%;
    }
    .pull-sm-12 {
        left: 100%;
    }
    .push-sm-0 {
        right: auto;
    }
    .push-sm-1 {
        right: 8.33333%;
    }
    .push-sm-2 {
        right: 16.66667%;
    }
    .push-sm-3 {
        right: 25%;
    }
    .push-sm-4 {
        right: 33.33333%;
    }
    .push-sm-5 {
        right: 41.66667%;
    }
    .push-sm-6 {
        right: 50%;
    }
    .push-sm-7 {
        right: 58.33333%;
    }
    .push-sm-8 {
        right: 66.66667%;
    }
    .push-sm-9 {
        right: 75%;
    }
    .push-sm-10 {
        right: 83.33333%;
    }
    .push-sm-11 {
        right: 91.66667%;
    }
    .push-sm-12 {
        right: 100%;
    }
    .offset-sm-0 {
        margin-right: 0%;
    }
    .offset-sm-1 {
        margin-right: 8.33333%;
    }
    .offset-sm-2 {
        margin-right: 16.66667%;
    }
    .offset-sm-3 {
        margin-right: 25%;
    }
    .offset-sm-4 {
        margin-right: 33.33333%;
    }
    .offset-sm-5 {
        margin-right: 41.66667%;
    }
    .offset-sm-6 {
        margin-right: 50%;
    }
    .offset-sm-7 {
        margin-right: 58.33333%;
    }
    .offset-sm-8 {
        margin-right: 66.66667%;
    }
    .offset-sm-9 {
        margin-right: 75%;
    }
    .offset-sm-10 {
        margin-right: 83.33333%;
    }
    .offset-sm-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 768px) {
    .pull-md-0 {
        left: auto;
    }
    .pull-md-1 {
        left: 8.33333%;
    }
    .pull-md-2 {
        left: 16.66667%;
    }
    .pull-md-3 {
        left: 25%;
    }
    .pull-md-4 {
        left: 33.33333%;
    }
    .pull-md-5 {
        left: 41.66667%;
    }
    .pull-md-6 {
        left: 50%;
    }
    .pull-md-7 {
        left: 58.33333%;
    }
    .pull-md-8 {
        left: 66.66667%;
    }
    .pull-md-9 {
        left: 75%;
    }
    .pull-md-10 {
        left: 83.33333%;
    }
    .pull-md-11 {
        left: 91.66667%;
    }
    .pull-md-12 {
        left: 100%;
    }
    .push-md-0 {
        right: auto;
    }
    .push-md-1 {
        right: 8.33333%;
    }
    .push-md-2 {
        right: 16.66667%;
    }
    .push-md-3 {
        right: 25%;
    }
    .push-md-4 {
        right: 33.33333%;
    }
    .push-md-5 {
        right: 41.66667%;
    }
    .push-md-6 {
        right: 50%;
    }
    .push-md-7 {
        right: 58.33333%;
    }
    .push-md-8 {
        right: 66.66667%;
    }
    .push-md-9 {
        right: 75%;
    }
    .push-md-10 {
        right: 83.33333%;
    }
    .push-md-11 {
        right: 91.66667%;
    }
    .push-md-12 {
        right: 100%;
    }
    .offset-md-0 {
        margin-right: 0%;
    }
    .offset-md-1 {
        margin-right: 8.33333%;
    }
    .offset-md-2 {
        margin-right: 16.66667%;
    }
    .offset-md-3 {
        margin-right: 25%;
    }
    .offset-md-4 {
        margin-right: 33.33333%;
    }
    .offset-md-5 {
        margin-right: 41.66667%;
    }
    .offset-md-6 {
        margin-right: 50%;
    }
    .offset-md-7 {
        margin-right: 58.33333%;
    }
    .offset-md-8 {
        margin-right: 66.66667%;
    }
    .offset-md-9 {
        margin-right: 75%;
    }
    .offset-md-10 {
        margin-right: 83.33333%;
    }
    .offset-md-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 992px) {
    .pull-lg-0 {
        left: auto;
    }
    .pull-lg-1 {
        left: 8.33333%;
    }
    .pull-lg-2 {
        left: 16.66667%;
    }
    .pull-lg-3 {
        left: 25%;
    }
    .pull-lg-4 {
        left: 33.33333%;
    }
    .pull-lg-5 {
        left: 41.66667%;
    }
    .pull-lg-6 {
        left: 50%;
    }
    .pull-lg-7 {
        left: 58.33333%;
    }
    .pull-lg-8 {
        left: 66.66667%;
    }
    .pull-lg-9 {
        left: 75%;
    }
    .pull-lg-10 {
        left: 83.33333%;
    }
    .pull-lg-11 {
        left: 91.66667%;
    }
    .pull-lg-12 {
        left: 100%;
    }
    .push-lg-0 {
        right: auto;
    }
    .push-lg-1 {
        right: 8.33333%;
    }
    .push-lg-2 {
        right: 16.66667%;
    }
    .push-lg-3 {
        right: 25%;
    }
    .push-lg-4 {
        right: 33.33333%;
    }
    .push-lg-5 {
        right: 41.66667%;
    }
    .push-lg-6 {
        right: 50%;
    }
    .push-lg-7 {
        right: 58.33333%;
    }
    .push-lg-8 {
        right: 66.66667%;
    }
    .push-lg-9 {
        right: 75%;
    }
    .push-lg-10 {
        right: 83.33333%;
    }
    .push-lg-11 {
        right: 91.66667%;
    }
    .push-lg-12 {
        right: 100%;
    }
    .offset-lg-0 {
        margin-right: 0%;
    }
    .offset-lg-1 {
        margin-right: 8.33333%;
    }
    .offset-lg-2 {
        margin-right: 16.66667%;
    }
    .offset-lg-3 {
        margin-right: 25%;
    }
    .offset-lg-4 {
        margin-right: 33.33333%;
    }
    .offset-lg-5 {
        margin-right: 41.66667%;
    }
    .offset-lg-6 {
        margin-right: 50%;
    }
    .offset-lg-7 {
        margin-right: 58.33333%;
    }
    .offset-lg-8 {
        margin-right: 66.66667%;
    }
    .offset-lg-9 {
        margin-right: 75%;
    }
    .offset-lg-10 {
        margin-right: 83.33333%;
    }
    .offset-lg-11 {
        margin-right: 91.66667%;
    }
    #Info .gender,
    #county,
    #city,
    #region {
        width: 70% !important;
    }
}

@media (min-width: 1200px) {
    .pull-xl-0 {
        left: auto;
    }
    .pull-xl-1 {
        left: 8.33333%;
    }
    .pull-xl-2 {
        left: 16.66667%;
    }
    .pull-xl-3 {
        left: 25%;
    }
    .pull-xl-4 {
        left: 33.33333%;
    }
    .pull-xl-5 {
        left: 41.66667%;
    }
    .pull-xl-6 {
        left: 50%;
    }
    .pull-xl-7 {
        left: 58.33333%;
    }
    .pull-xl-8 {
        left: 66.66667%;
    }
    .pull-xl-9 {
        left: 75%;
    }
    .pull-xl-10 {
        left: 83.33333%;
    }
    .pull-xl-11 {
        left: 91.66667%;
    }
    .pull-xl-12 {
        left: 100%;
    }
    .push-xl-0 {
        right: auto;
    }
    .push-xl-1 {
        right: 8.33333%;
    }
    .push-xl-2 {
        right: 16.66667%;
    }
    .push-xl-3 {
        right: 25%;
    }
    .push-xl-4 {
        right: 33.33333%;
    }
    .push-xl-5 {
        right: 41.66667%;
    }
    .push-xl-6 {
        right: 50%;
    }
    .push-xl-7 {
        right: 58.33333%;
    }
    .push-xl-8 {
        right: 66.66667%;
    }
    .push-xl-9 {
        right: 75%;
    }
    .push-xl-10 {
        right: 83.33333%;
    }
    .push-xl-11 {
        right: 91.66667%;
    }
    .push-xl-12 {
        right: 100%;
    }
    .offset-xl-0 {
        margin-right: 0%;
    }
    .offset-xl-1 {
        margin-right: 8.33333%;
    }
    .offset-xl-2 {
        margin-right: 16.66667%;
    }
    .offset-xl-3 {
        margin-right: 25%;
    }
    .offset-xl-4 {
        margin-right: 33.33333%;
    }
    .offset-xl-5 {
        margin-right: 41.66667%;
    }
    .offset-xl-6 {
        margin-right: 50%;
    }
    .offset-xl-7 {
        margin-right: 58.33333%;
    }
    .offset-xl-8 {
        margin-right: 66.66667%;
    }
    .offset-xl-9 {
        margin-right: 75%;
    }
    .offset-xl-10 {
        margin-right: 83.33333%;
    }
    .offset-xl-11 {
        margin-right: 91.66667%;
    }
}

.form-check-label {
    padding-right: 1.25rem;
}

.form-check-input {
    margin-right: -1.25rem;
}

.form-check-inline {
    padding-right: 1.25rem;
}

.form-check-inline+.form-check-inline {
    margin-right: .75rem;
}

.form-control-feedback {
    margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-left: 2.25rem;
    background-position: center right 0.625rem;
}

.form-inline .form-check-label {
    padding-right: 0;
}

.dropdown-toggle::after {
    margin-right: 0.3em;
}

.dropdown-menu {
    right: 0;
    float: right;
    margin: 2px 0 0;
    text-align: right;
}

.dropdown-divider {
    margin: 0.5rem 0;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-right: -1px;
}

.btn-toolbar {
    margin-right: -0.5rem;
}

.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
    margin-right: 0.5rem;
}

.btn-group>.btn:first-child {
    margin-right: 0;
}

.btn-group>.btn-group {
    float: right;
}

.btn+.dropdown-toggle-split::after {
    margin-right: 0;
}

.btn-group-vertical>.btn+.btn,
.btn-group-vertical>.btn+.btn-group,
.btn-group-vertical>.btn-group+.btn,
.btn-group-vertical>.btn-group+.btn-group {
    margin-right: 0;
}

.input-group .form-control {
    float: left;
}

.input-group-addon:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-left: 0;
}

.form-control+.input-group-addon:not(:first-child) {
    border-left-width: medium;
    border-right: 0;
}

.input-group-btn>.btn+.btn {
    margin-right: -1px;
}

.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group {
    margin-left: -1px;
}

.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group {
    margin-right: -1px;
}

.custom-control {
    padding-right: 1.5rem;
}

.custom-control+.custom-control {
    margin-right: 1rem;
}

.custom-control-indicator {
    right: 0;
}

.custom-controls-stacked .custom-control+.custom-control {
    margin-right: 0;
}

.custom-select {
    padding-left: 0.75rem \9;
}

.nav {
    padding-right: 0;
}

.nav-tabs .nav-item+.nav-item {
    margin-right: 0.2rem;
}

.nav-pills .nav-item+.nav-item {
    margin-right: 0.2rem;
}

.nav-stacked .nav-item+.nav-item {
    margin-right: 0;
}

.navbar-nav .nav-link+.nav-link {
    margin-right: 1rem;
}

.navbar-nav .nav-item+.nav-item {
    margin-right: 1rem;
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .nav-item {
        margin-right: 0;
    }
    #lang,
    .skillSelect,
    #skill,
    #software {
        width: 70% !important;
    }
    .respons {
        padding-top: 20px;
    }
    .info-county {
        width: 70%;
        float: unset !important;
    }
    .gender {
        width: 70%;
    }
    .skillSelect2,
    .software-level {
        width: 70% !important;
    }
    #email {
        width: 70%;
    }
    #job-duration {
        width: 70%;
    }
    #busTel,
    #business-tel {
        width: 70% !important;
    }
    .remove-tel {
        right: 220px
    }
    .street {
        width: 70% !important;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .nav-item {
        margin-right: 0;
    }
    label {

        font-size: 14px;


    }
}

@media (max-width: 543px) {
    .navbar-toggleable .navbar-nav .nav-item {
        margin-right: 0;
    }
    .respons input {
        width: 95% !important;
    }
    .respons label {
        font-size: 20px !important;
    }
}

@media (max-width: 500px) {
    .navbar-toggleable .navbar-nav .nav-item {
        margin-right: 0;
    }
    .respons input {
        min-width: 95% !important;
    }
    #lang,
    .skillSelect,
    #skill,
    #software {
        width: 95% !important;
    }

    .borderr-business input {
        width: 100% !important;
    }
}

.card-link+.card-link {
    margin-right: 1.25rem;
}

.card-blockquote {
    border-right: 0;
}

.breadcrumb-item {
    float: right;
}

.pagination {
    padding-right: 0;
}

.page-item:first-child .page-link {
    margin-right: 0;
}

.page-link {
    margin-right: -1px;
}

.alert-dismissible {
    padding-left: 2rem;
}

.alert-dismissible .close {
    left: -1rem;
}

.media-list {
    padding-right: 0;
}

.list-group {
    padding-right: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    right: 0;
}

.close {
    float: left;
}

.tooltip {
    text-align: right;
}

.tooltip.tooltip-top .tooltip-arrow,
.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
}

.tooltip.tooltip-bottom .tooltip-arrow,
.tooltip.bs-tether-element-attached-top .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
}

.popover {
    right: 0;
    text-align: right;
}

.popover.popover-top .popover-arrow,
.popover.bs-tether-element-attached-bottom .popover-arrow {
    right: 50%;
    margin-right: -11px;
}

.popover.popover-top .popover-arrow::after,
.popover.bs-tether-element-attached-bottom .popover-arrow::after {
    margin-right: -10px;
}

.popover.popover-bottom .popover-arrow,
.popover.bs-tether-element-attached-top .popover-arrow {
    right: 50%;
    margin-right: -11px;
}

.popover.popover-bottom .popover-arrow::after,
.popover.bs-tether-element-attached-top .popover-arrow::after {
    margin-right: -10px;
}

/* -------side menu------ */

.nav-side-menu {
    overflow: auto;
    font-size: 16px;
    font-weight: 200;
    background-color: #3b3b3b;
    position: fixed;
    top: 55px;
    width: 220px;
    height: 100%;
    color: #e1ffff;
    text-align: right;
    z-index: 20000;
    padding-top: 50px;
    /*display: none;*/
}

.nav-side-menu .toggle-btn {
    /*display: none;*/
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu li {
    /*padding-right: 10px;*/
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid gold;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: gold;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: gold;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid gold;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.panel-nav{

    z-index: 2;
    position: fixed;
}
#menu-content .links{
    padding: 8px 85px;
}
#menu-content{
    /*padding-right: 10px;*/
}
/* -----end of nav side ---- */

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.carousel-item.next,
    .carousel-inner>.carousel-item.active.right {
        right: 0;
    }
    .carousel-inner>.carousel-item.prev,
    .carousel-inner>.carousel-item.active.left {
        right: 0;
    }
    .carousel-inner>.carousel-item.next.left,
    .carousel-inner>.carousel-item.prev.right,
    .carousel-inner>.carousel-item.active {
        right: 0;
    }
}

.carousel-inner>.active {
    right: 0;
}

.carousel-inner>.next {
    right: 100%;
}

.carousel-inner>.prev {
    right: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    right: 0;
}

.carousel-inner>.active.left {
    right: -100%;
}

.carousel-inner>.active.right {
    right: 100%;
}

.carousel-control .icon-prev {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-next {
    left: 50%;
    margin-left: -10px;
}

.carousel-indicators {
    right: 50%;
    padding-right: 0;
    margin-right: -30%;
}

.carousel-caption {
    left: 15%;
    right: 15%;
    z-index: 10;
}

@media (min-width: 544px) {
    .carousel-control .icon-prev {
        margin-right: -15px;
    }
    .carousel-control .icon-next {
        margin-left: -15px;
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
    }
}

.active a {
    color: #226699 !important;
}

.active i {
    color: #226699 !important;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

/*----sidebar------*/
.side-nav::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.side-nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.side-nav::-webkit-scrollbar-thumb {
    background: #4ECDC4;
    border-radius: 10px;
}

/* Handle on hover */
.side-nav::-webkit-scrollbar-thumb:hover {
    background: #FCB322;
    cursor: pointer;
}
.side-nav li a:hover{
    background: #4ECDC4 !important;
    transition: 0.5s;
}
.side-nav li a:focus{
    background: #FCB322 !important;
}
.navbar-nav>li>a{
    line-height: 5px !important;
}
.side-nav li a ul li:hover,
.side-nav li a ul li:focus{
    background: #ffc107b0 !important
}
.side-nav{
    background: #2f323a !important;
}
.side-nav .fa-caret-down{
    float: left;
    padding-left: 25px;
}
.side-nav>li>ul>li>a{
    background: #43494d !important;
    padding: 6px 15px 6px 38px;
    color: #d2caca;
    font-size: 13px;
    border-bottom: 1px solid #ffc1072b;
}
.side-nav>li>ul>li>a:focus{
    color: #fff !important;
}
.submenu i{
    padding-left: 10px;
}
.submenu .fa-caret-left,
.submenu .fa-caret-down{
    float: left;
    padding-left: 10px;

}

/*---topnav----*/
.top-nav>li>a:hover{
    color: #FFC107 !important;
    transition: 0.5s;
    background: none;
}
.top-nav>li{
    cursor: pointer !important;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fcb322 !important;
    background-color: transparent;
}
.panel-logo img{
    width: 6%;
    height: auto;
    padding-top: 10px;
    cursor: pointer;
}
/*----end of top nav----*/

/*----end of sidebar-----*/
/*----wrapper-----*/
html{
    height: 100%;
}
body{
    height: 100%;
}
#app{
    /*padding-right: 200px;*/
    /*padding-top: 70px;*/
    text-align: center;
    background: linear-gradient(0deg, rgba(171,219,219,1) 0%, rgba(255,222,170,1) 100%);
    min-height: 100%;
    height: auto;


}
#app label{
    font-weight: bold;
    margin-top: 2px;
}
#wrapper{
    /*padding-top: 20px !important;*/
}
#page-wrapper{
    height: 100%;
    min-width: 100%;
    background: none;
    padding: 0;
    padding-right: 200px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle !important;
}
.table th{
    text-align: center;
    border: 1px solid grey;
    background: #444444;
    color: white;
}
/*----end of wrapper----*/
@media (min-width: 768px){
    .navbar-header {
        margin-right: 50px !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .side-nav{
        top: 51px !important;
    }
    .navbar-right {
        float: unset!important;
        margin-right: unset;
    }
}

#accordian {
    background: #3b3b3b;
    width: 200px;
    margin: 40px auto 0 auto;
    color: white;
    /*Some cool shadow and glow effect*/
    box-shadow:
            0 5px 15px 1px rgba(0, 0, 0, 0.6),
            0 0 200px 1px rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    overflow-y: scroll;

    z-index: 1;

}
#accordian .fa{
    padding-left: 3px;
}
#accordian ul{
    padding-right: 0;
    text-align: right;
}
#accordian ul li.single:last-child{
    margin-bottom: 50px;
}
/*heading styles*/
#accordian h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 5px 15px;
    cursor: pointer;
    background: linear-gradient(#5f492a29, #7955484f);
    margin: 0;
}
/*heading hover effect*/
#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
#accordian li {
    list-style-type: none;
}
/*links*/
#accordian ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 35px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
    background: #676363;
    border-left: 5px solid #74a1a7;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}
#accordian .single h3 a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 35px;
    display: block;
    padding: 0 8px;
    transition: all 0.15s;
}
#accordian::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#accordian::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#accordian::-webkit-scrollbar-thumb {
    background: #4ECDC4;
    border-radius: 10px;
}

/* Handle on hover */
#accordian::-webkit-scrollbar-thumb:hover {
    background: #FCB322;
    cursor: pointer;
}
#Articles .table img{
    width: 50px;
    height: 45px;
}
#AddProduct .step-2{
    display: none;
}
#AddProduct .backbtn{
    display: none;
}
#AddProduct .thumb{
    background: #eee;
}
.thumb:hover{
    filter: drop-shadow(2px 4px 6px grey)
}
.remove-pic-button{
    position: relative;
    background: #FF9800;
    width: 100%;
    color: white;
    z-index: 12;
}
.panel-user-logo{
    width: 50px;
    height: 50px;
}
#Favorites .box{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    padding: 10px;
}
#Favorites .box .item{
    margin-top: 5px;
    margin-bottom: 5px;

}
.add-btn{
    position: relative;
    top: -30px;
    left: -128px;
    padding: 9px;
    border-radius: 3px;
    background: #00BCD4;
    color: white;
    cursor: pointer;
}
.newsletter{
    text-align: right;
    margin-top: 30px;
    font-weight: bold;
}
.newsletter .register{
    background:#19caaf;
    color:white;
}
.newsletter .cancel-register{
    background:maroon;
    color:white;
}
#Users img{
    width: 60px;
}
.table-div{
    overflow-x: auto;

}
#FirstPage .box{

    height: 100px;
    margin: 10px;
    box-shadow: 0 0 17px lightgrey;
    cursor: pointer;
    transition: 0.5s;

}
#FirstPage .box:hover{
    box-shadow: 0 0 17px grey;
}
#FirstPage .box .top{
    height: 60%;
    color:white;
    line-height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#FirstPage .box .bottom{
    height: 40%;
    background: white;
    line-height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
