/*site*/

.shopping-box{
    display: none;
    background: white;
    box-shadow: 0 0 5px lightgrey;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.total-price{
    position: fixed;
    width: 100%;
    min-height: 71px;
    height: auto;
    z-index: 3;
    background: #ebeaea;
    box-shadow: 0 0 8px #666464;
    bottom: 0;
    display:none
}
.shopping-box .title{
    font-weight: bold;
}
.responsive-menu-btn{
    position: relative;
}
.btn.responsive-menu-btn.close-btn{
    display: none;
    margin-top: 12px;
}
.btn.panel-responsive-btn.close-btn{
    display: none;
}
.responsive-menu-btn {
    display: none;
    /*padding: 13px;*/
    background: #c09d70;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin: auto;
    margin-top: 12px;
    /*margin-top: 7px;*/
}
.responsive-list{
    position: fixed;
    /*top: 19%;*/
    z-index: 2;
    background: rgba(59, 59, 59, 0.71);
    width: 100%;
    padding-top: 10px;
    color: white;
    display: none;
}
.payment{
    background: rgb(25, 202, 175);
    color: white;
}
.panel-responsive-btn{
    background: #5cc6d0;
    color: white;
    display: none;
}

@media (max-width: 1300px){
    .headerholder li,.headerlist p{
        font-size: 14px !important;
    }
}
@media (max-width: 1200px) {
    .carousel-card-arrow-right {
        right: 155px !important;
    }
    #ShoppingBasket .btn-number.sub {
        background-color: #FF9800;
        position: relative;
        right: 97px;
        top: -30px;
        z-index: 3;
    }


    #accordian{
        transition: 0.5s;
        margin-right: -200px;
    }
    .headerlist{
        display: contents;
    }
    .headerlist p {
        font-size: 14px;
    }

    .menu-list {
        display: none;
    }

    .mc-logo {
        position: absolute;
        left: 0;
    }

    .responsive-menu-btn,.panel-responsive-btn {
        display: block;
        /*margin-top: 10px;*/
        /*padding: 10px;*/
    }
    .footer{
        padding-top: 5px;
        font-size: 12px;
    }
    .searchfield::placeholder{
        font-size: 12px;
    }
    .logout {
        /*margin-right: 100px;*/
        position: relative;
        right: 60px;
    }
    .headerholder p{
        font-size: 13px;
    }
    .carticonheader {
        font-size: 30px;
        position: absolute;
        top: 20%;
        right: 30%;
        color: tan;
        transition: .5s;
        cursor: pointer;
    }
    .number-of-basket{
        right: 28%;
    }
    .profileiconheader{
        font-size: 30px;
        position: absolute;
        top: 20%;
        right: 10%;
    }
    #page-wrapper{
        padding-right: unset;
    }

}
@media (max-width: 1105px){
    .searchfield {
        width: 200px;
    }
}

@media (max-width: 1000px){
    .total-price{
        display: block;
    }
    .desktop-shopping{
        display:none
    }

    .carticonheader{
        right: 36%;
    }
    .number-of-basket {
        right: 33%;
    }

    #ShoppingBasket .btn-number.sub{
        right: 0px;
        top: -28px;
    }
    #ShoppingBasket .btn-number.add {
        right: 0;
        float: right;
        top: 33%;
    }
    .shopping-box{
        display: block;
    }
    .btn.btn-danger.remove{
        margin-top: 10px;
        /*float: right;*/
    }
}
@media (max-width: 992px){
    .carousel-card-container {
        margin: 0 !important;
        width: 100% !important;
        position: relative;
        right: -65px;
    }
    .carousel-card-item{
        height:75% !important;
    }
    #SingleProduct .similar-item img {
        width: 90%;
        border-radius: 5px;
    }
    .carousel-card-arrow-right {
        right: 107px !important;
    }
}

@media (max-width: 970px){
    .responsive-menu-btn{
        right: 10px;
    }
}
@media (max-width: 850px){
    .logout {
        right: 25px;
    }
    .responsive-menu-btn{
        right: 25px;
    }
}
@media (max-width: 768px) {
    #SingleProduct .similar-item img {
        width: 100%;
    }

    .carousel-card-mask {
        height: 85%;
    }

    .carousel-card-container {
        right: -55px;
    }

    .carousel-card-arrow-right {
        right: 72px !important;
    }
    .telladdress{
        padding-bottom: 10px;
    }
    .carousel-card-item {
        height: 65% !important;
    }
}

@media (max-width: 765px) {
    .responsive-menu-btn{
        right: 30px;
    }

    .carticonheader{
        right: 35%;
    }
    .number-of-basket {
        right: 30%;
    }
    .headerholder a{
        padding-right: unset;
        font-size: 14px;
    }
    .logoimg2 {
        /* width: 160px; */
        /* height: 100px; */
        margin-left: 20px;
        position: relative;
        top: -6px;
        width: 70px;
        height: 70px;
    }
    .carticonheader {
        right: 39%;
        top: 30%;
    }
    .number-of-basket {
        right: 35%;
    }
    .carousel-item img{
        height: 300px;
    }
    .profileiconheader {
        top: 30%;
    }
    .btnlogin{
        margin-top: 15px;
    }
}
@media(max-width: 700px){
    .logout {
        right: 10px;
    }
}
@media (max-width: 633px) {
    .responsive-menu-btn{
        right: 40px;
    }
    /*.searchfield {*/
        /*width: 170px;*/
    /*}*/
    .searchfield::placeholder{
        font-size: 10px;
    }

    .footer{
        height: auto !important;
    }
    .carticonheader,.profileiconheader{
        font-size: 25px;
    }
    .carticonheader {
        right: 42%;
    }
    .number-of-basket {
        right: 35%;
        top: 13px;
    }
    .btnlogin{
        font-size: 12px;
    }
    .dashbordicon{
        padding: 0 !important;
    }

}
@media (max-width: 576px) {
    .prod-img img{
        width: 100px !important;
    }
    .somedia{
        text-align: center;
    }
    #accordian{
        width: 170px;
    }
    .marketing-code{
        font-size: 13px;
    }
}
@media (max-width: 573px) {
    /*.searchfield {*/
        /*width: 130px;*/
    /*}*/
    /*.searchfield::placeholder{*/
        /*font-size: 8px;*/
    /*}*/
    .middle {
        position: relative;
        right: -25px;
    }
    .responsive-menu-btn{
        right: 0;
    }

}
@media(max-width: 484px) {

    .responsive-menu-btn{
        right: 10px;
    }
    .carticonheader {
        right: 39%;
    }

    .number-of-basket {
        right: 35%;
        top: 7px;

    }
    .logout {
        margin-right: 83px;
        margin-top: 18px;
    }
    .carousel-card-container {
        right: -45px;
    }
    .carousel-card-arrow-right {
        right: 60px !important;
    }
    .carousel-card-item {
        height: 60% !important;
    }

}
@media(max-width: 400px){
    .profileiconheader{
        right: 0;
    }
    .carticonheader {
        right: 30%;
    }
    .logout {
        right: 0px;
        font-size: 13px;
        margin-right: 70px;
        margin-top: 14px;
    }
    .number-of-basket{

        font-size: 13px;
        font-weight: unset;
    }
    .responsive-menu-btn{
        font-size: 14px;
        margin-top: 15px;
        right: 10px;
    }
    .middle {
        position: relative;
        right: -15px;
    }
    .logoimg2{
        top: -2px;
        width: 60px;
        height: 60px;
    }
    .carousel-card-container {
        margin: 0 !important;
        width: 100% !important;
        position: relative;
        right: -40px;
    }
    .carousel-card-item {
        height: 75%;
    }
}
@media (max-width: 369px) {

    .addressfield, .tellfield{
        display: block;
    }
    .searchform{
        text-align: center;
    }
    .searchform .btn{
        margin-top: 6px;
    }
    .logout {
        /*margin-right: 60px;*/
    }
    .col-4.dashbordicon{
        max-width: 40%;
        flex: 0 0 40%;
    }
    .logoimg2{
        top: 0px;
        width: 60px;
        height: 60px;
        /*left: 5px;*/
    }
    .responsive-menu-btn {
        right: -12px;
    }
}