@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.eot') format('eot'),
    url('../fonts/IRANSans.woff') format('woff'),
    url('../fonts/IRANSans.ttf') format('truetype');
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: auto;
    direction: rtl;
    color: #636b6f;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: iransans !important;
    overflow: -moz-scrollbars-none;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, li, p, a {
    direction: rtl;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
}

a:hover {
    color: unset;
    text-decoration: unset;
}

button {
    border: unset;
    background: unset;
}

@keyframes colorchange {
    0% {
        background: rgba(224, 155, 91, 0.51);
    }
    25% {
        background: rgba(26, 217, 173, 0.51);
    }
    50% {
        background: rgba(99, 99, 99, 0.51);
    }
    75% {
        background: rgba(224, 155, 91, 0.51);
    }
    100% {
        background: rgba(26, 217, 173, 0.51);
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0% {
        background: rgba(224, 155, 91, 0.51);
    }
    25% {
        background: rgba(26, 217, 173, 0.51);
    }
    50% {
        background: rgba(99, 99, 99, 0.51);
    }
    75% {
        background: rgba(224, 155, 91, 0.51);
    }
    100% {
        background: rgba(26, 217, 173, 0.51);
    }
}

#app {
    background-color: #f9f9f9;
    font-family: iransans !important;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
}

.news-letter-register {
    top: 25%;
    position: relative;
    /* padding-top: 21px; */
    padding: 5px;
    background: tan;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    background-color: rgba(59, 59, 59, 0.71) !important;
    text-align: center;
    min-height: 50px !important;
    z-index: 12;
    font-family: iransans !important;
    margin-top: auto;
}

[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    animation: hue-rotate 6s infinite;
    background: url('/img/login-background.jpg');
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
    height: 94vh;;
}

.underlay-black {
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    height: 94vh;;

}

@keyframes hue-rotate {
    from {
        -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}

#Register, #Login, #Reset {
    background: url('/img/login-background.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    animation: hue-rotate 6s infinite;
}

#Login .form-group {
    text-align: right;
}

.forgotten {
    color: white;
    font-weight: bold;
}

.forgotten:hover {
    color: blue
}

#Login, #Register, #Reset {
    padding-top: 20px;
    height: 94vh;
}

#Login label, #Register label, #Reset label {
    font-weight: bold;
    color: white;
}

#Login .card, #Register .card, #Reset .card {
    background: transparent !important;
    border: unset !important;
}

#Login .form-control, #Register .form-control, #Reset .form-control {
    border-radius: 10px !important;
    background: #ffffffab !important;
    font-weight: bold !important;
}

#Login .form-control:focus, #Register .form-control:focus, #Reset .form-control:focus {
    border-color: tan;
    box-shadow: 0 0 10px tan;
}

.height {
    min-height: 100%;
    height: 100%;
}

.detail-tr:nth-child(even):hover {
    color: white;
}

.width {
    width: 40%;
}

.message {
    text-align: right;
}

.headerholder {
    font-family: iransans !important;
    height: 60px !important;
    background-color: rgba(59, 59, 59, 0.71) !important;
    overflow: hidden;
    z-index: 200000;
}

.btnlogin {
    margin-top: 17px;
    float: right;
    /*margin-right: 110px;*/
    border: 2px solid tan;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    color: tan;
    transition: .5s;
    outline: none;
}

.login {
    margin-right: 5px;
}

.middle {
    position: relative;
    right: -70px;

}

.btnlogin:focus {
    outline: none;
}

.btnlogin:hover {
    color: white;
    background-color: tan;
}

.headerlist {
    list-style-type: none;
    display: inline-flex;
    margin-top: 20px;
    direction: rtl;
    text-align: center;
    float: right;
}

.headerlist i {
    color: tan;
}

.headerholder li, .headerholder a, .headerholder p {
    padding-right: 10px;
    cursor: pointer;
    font-size: 16px;
    direction: rtl;
    text-align: center;
    transition: .5s;
}

.headerholder a {
    text-decoration-line: none;
    color: #ffffff;
}

.number-of-basket {
    float: right;
    position: absolute;
    right: 15%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF9800;
    line-height: 20px;
    font-weight: bold;
}

.headerholder a:hover {
    text-decoration-line: none;
}

.headerholder p:hover {
    color: tan;
}

.logoimg {
    width: 90px;
    height: 85px;
    margin-top: -30px;
}

.logoimg2 {
    margin-left: 20px;
    position: relative;
    top: -11px;
    width: 80px;
    height: 80px;
}

.slideindex {
    margin-top: -60px;
}

.profileiconheader {
    font-size: 30px;
    position: absolute;
    top: 20%;
    right: 5%;
    color: tan;
    transition: .5s;
    cursor: pointer;
}

.carticonheader {

    font-size: 30px;
    position: absolute;
    top: 20%;
    right: 17%;
    color: tan;
    transition: .5s;
    cursor: pointer;

}

.carticonheader:hover {
    /*color: #ffffff;*/
    color: #795548;
}

.profileiconheader:hover {
    color: #ffffff;
}

.boxinfoheader {
    margin: 3px;
}

.chaticon {
    position: fixed;
    bottom: 10%;
    font-size: 60px;
    color: tan;
    right: 2%;
    padding: 3px;
    cursor: pointer;
}

#supporttext {
    position: fixed;
    bottom: 12%;
    font-size: 10px;
    font-family: yekan;
    right: 2.8%;
    cursor: pointer;
    font-weight: bold;
}

/*--banner*/

.holderbanner {
    list-style-type: none;
    transition: .5s;
    /*position: absolute;*/
    /*left: 1.4%;*/
}

.holderbanner li {
    display: inline-block;
}

.bannerimg:hover {
    box-shadow: 5px 10px 30px #888888;
}

.banner-icon {
    /*width: 345px;*/

    /*height: 180px;*/

    height: 180px;

    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

}

.bannerimg {

    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.imgslider {
    width: 100%;
    height: 450px;
}

.submit-btn button {
    padding: 3px 20px;
    border-radius: 4px;
    border: none;
    background: #6c757d;
    color: white;
}

/*.dashbordicon {*/
/*position: absolute;*/
/*top: -20px;*/
/*}*/

.soimg {
    width: 30px;
    height: 30px;
    margin-top: 13px;
}

/*.somedia {*/
/*text-align: right;*/
/*padding-right: 100px;*/

/*}*/

.soimg1 {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-right: -5px;
}

.searchfield {
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid tan;
    outline: none;
    color: white;
    transition: 0.5s;
    text-align: left;
    padding-left: 5px;

}

.searchfield:hover {
    background: white;
    color: black;
}

.searchfield::placeholder {
    color: white !important;
    font-size: 10px;
}

.soimg {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 6px;
}

.soimg1 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: -5px;
}

.searchform {
    text-align: center;
}

.searchform ::placeholder {
    font-size: 13px;
    direction: rtl;
    padding: 1px;
    text-align: center;
    color: tan;
}

.addressfield, .tellfield {
    color: white;
    direction: rtl;
    text-align: center;
    display: block;
}

.addressfield i, .tellfield i {
    color: tan
}

.btnsub {
    background-color: tan !important;
    border: none !important;
    cursor: pointer;
}

.btnsub:hover {
    background-color: rgb(240, 186, 116) !important;
}

/*--store*/

.contentpages {
    direction: rtl;
}

.sidebarholder {
    padding-bottom: 20px;
}

.sidebarul {
    list-style-type: none;
}

.sidebarslides {
    width: 400px;
    height: 250px;
    margin-top: 10px;
    cursor: pointer;
}

.sliderpages {
    margin-top: -60px;
}

.active {
    color: #5cc6d0 !important;
}

/*sub-page start*/
.sub-page, .category-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px #ddd;
    width: 100%;
}

.sub-page h4, .category-list h4 {
    text-align: right;
    color: inherit;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
}

.sub-page i, .category-list i {
    color: #5cc6d0;
}

.sub-page ul, .category-list ul {
    list-style: none;
    text-align: right;
    color: #636b6f;
    padding-right: 0;

}

.sub-page ul {
    float: left;
}

.category-list ul {
    float: right;
}

.sub-page ul li, .category-list ul li {
    display: inline-block;
}

.sub-page ul li, .category-list {
    margin-top: 10px;
    margin-left: 5px;
}

.sub-page ul li a {
    color: #636b6f;
    text-decoration: none;
    font-size: 14px;
}

/*sub-page end*/

/*category-list start*/
.category-list ul li a {
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #636b6f;
    font-weight: bold;
}

.category-list ul li a:hover {
    color: #d2ae6d;
}

.sub-page ul li a:hover, .category-list ul li a:hover {
    text-decoration: none;
}

/*category-list end*/
/*side start*/
.side-ware {
    background-color: #fff;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .075);
    padding: 2%;
    height: 350px;
    width: 100%;
    transition: 1s;
}

.side-ware-button {
    background-color: #fff;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .075);
    padding: 5% 5%;
    text-align: center;
}

.side-ware-button .btn {
    background-color: #d2ae6d !important;
    margin: auto;
    color: white;
    font-size: 14px;
}

.form-row div {
    text-align: center;
}

.ware-filter {
    padding: 10px .5%;
    background-color: #19caaf;
    color: #fff;
}

.ware-filter h5 {
    text-align: right;
    font-size: 15px;
    margin: 0 !important;
    padding-right: 10px;
}

.price-ware, .category-ware {
    padding: 10px .5%;
}

.category-ware li a {
    width: 100% !important;
}

.category-ware {
    width: 100%;
    display: block;
    height: auto;
}

.price-ware-sub, .category-ware-sub {
    background-color: #d2ae6d;
    height: 40px;
    padding: 2% 5%;
}

.price-ware-sub h5, .category-ware-sub h5 {
    margin: 0 !important;
    color: #eee;
    text-align: right;
    font-size: 16px !important;
}

.price-ware-sub i {
    background-color: #fff;
    color: darkred;
}

.price-ware-sub > div:first-child {
    float: right;
}

.price-ware-sub > div:last-child {
    float: left;
    padding: 2px;
    background-color: #fff;
}

.category-ware-main {
    width: 100%;
}

.category-ware-main > ul {
    width: 100%;
    padding: 0;
}

.category-ware-main > ul > li {
    width: 100%;
    font-size: 14px;
}

.category-ware-main > ul > li > a {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: right;
    color: #000;
}

.category-ware-main > ul > li > a:hover {
    text-decoration: none;
}

/*side end*/

/*ware start*/
.ware {
    direction: rtl;
}

/*sort start*/
.sort {
    padding: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px #ddd;
}

.sub-sort select {
    height: 35px;
    padding: 3px 12px;
    background-color: #fff;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sub-sort-left {
    float: left !important;
}

.sub-sort-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636b6f;
}

.sub-sort-right {
    display: flex;
    align-items: center;
    color: #636b6f;
}

.sub-sort-right-button {
    width: 30px;
    height: 20px;
    background-color: #3c763d;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.sub-sort-right-button > div {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
}

.sub-sort-left > div, .sub-sort-right > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
}
.sub-sort-right > div > div {
    text-align: center;
}

.sub-sort-right-icon i {
    height: 100%;
}

.sub-sort-left > div p, .sub-sort-right > div p {
    height: 20px;
    padding: 0px !important;
    cursor: auto;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

.sub-sort-left > div > div {
    padding: 0 5px;
    border-left: 1px solid #aaa;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
    text-align: center;
}

.sub-sort-right input {
    background-color: #4a0145;
}

.sub-sort-left-category > div p {
    font-size: 13px;
}

.sub-sort-left-category .col-12 {
    padding: 0 !important;
}

.sub-sort-left > div > div:last-child {
    border-left: none;
    padding-left: 0;
}

.sub-sort-left > div > div:hover {
    color: #2aabd2;
}

.sub-sort-select {
    display: none;
}

.ware-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ware-pagination > div {
    text-align: center;
}

.ware-pagination button {
    background-color: transparent;
    border: none;
    padding: 0 !important;
    margin: 0;
    font-size: 15px;
    display: inline-block;
}

.ware-pagination h5, .ware-pagination h6 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.ware-pagination > div > div > ul {
    width: 100%;
    padding: 0 !important;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.ware-pagination > div > div > ul > li {
    overflow: hidden;
    width: 80%;
    text-align: center;
}

.ware-pagination > div > div > ul > li > a {
    color: #d2ae6d;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 13px;
}

.ware-pagination > div > div > ul > li:last-child, .ware-pagination > div > div > ul > li:first-child {
    width: 10%;
}

.pagination-list {
    width: 200%;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    direction: rtl;
    text-align: right;
}

.pagination-list > li {
    width: calc(100% / 24);
    color: #636b6f;
    float: right;
    padding: 2px;
}

.pagination-list > li > a {
    color: #636b6f;
    background-color: #f5f5f5;
    text-align: center;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-radius: 3px;
}

.active-pagination {
    background-color: #19caaf !important;
}

.ware-main {
    padding: 0 !important;
}

.ware-main > div {
    margin-top: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ware-main > div > div {
    height: 330px;
    overflow: hidden;
    border-radius: 4px;
    transition: 1s all;
    text-align: center;
    box-shadow: 0 0 7px #afadad;
    background: #efefef;
}

.ware-main > div > div:hover {
    box-shadow: 0 0 10px tan;
}

.ware-main > div > div:hover .ware-main-link {
    height: 90%;
    text-decoration: none;
}

.ware-main-link {
    display: block;
    height: 100%;
    width: 100%;
    color: #000;
    transition: 0.5s;
}

.ware-main-img {
    cursor: pointer;
    height: 180px
}

.ware-main-img img {
    width: 90%;
    height: 180px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px grey;
}

.ware-main-img {
    cursor: pointer;
}

.ware-main-sub {
    height: 15%;
    text-align: center;
    cursor: pointer;
}

.ware-main-sub p, .ware-main-sub h6 {
    width: 100%;
    display: block;
    height: 50%;
}

.ware-main-sub h6 {
    color: #979797;
}

.ware-main-on {
    display: inline-block;
    margin: 5px;
    margin-top: 13px;

}

.ware-main-on-border {
    width: 20px;
    height: 20px;
    border: 1px solid #ff2500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ware-main > div > div:hover .ware-main-on-border {
    right: 48%;
}

.ware-main-on-background {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.ware-main-price {
    height: 10%;
    text-align: center;
}

.ware-main-price span {
    color: #19caaf;
}

.ware-main-icon {
    width: 100%;
    height: 45px;
    position: relative;
    top: 35%;
}

.ware-main-price .fa-star {
    color: tan;
    height: 10%;
    align-items: center;
    justify-content: center;

}

.ware-main-icon > div {
    padding: 2% 4%;
    cursor: pointer;

    padding-top: 17px;
    font-size: 18px;
}

.ware-main-icon > div i:hover {
    font-size: 20px;
    transition: 0.8s;
    color: #19caaf;

}

.ware-property {
    padding: 1% 2%;
}

.ware-property-main {
    height: 90vh;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.ware-property-img p {
    text-align: right;
    color: #979797;
}

.ware-property-img {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ware-property-background {
    width: 100%;
    height: 80%;
    background-color: #fff;
}

ware-property-img img {
    width: 80%;
    height: 80%;
}

.ware-prorerty-gallery {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4%;
}

.ware-prorerty-gallery img {
    width: 100%;
    height: 100%;
}

.ware-prorerty-gallery > div {
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.ware-prorerty-gallery > div {
    width: 15%;
    cursor: pointer;
}

.ware-property-text {
    height: 100%;
    text-align: right;
    background-color: #eee;
    padding: 1%;
}

.sub-ware-property {
    height: 10%;
}

.sub-ware-property h5 {
    text-align: center;
}

.ware-property-table {
    padding: 1%;
    height: 30%;
}

.table tr, th {
    text-align: center;
}

td {
    font-size: 15px;
}

.ware-price, .ware-description {
    width: 100%;
    height: auto;
}

.ware-description {
    height: 25%;
}

.ware-price {
    height: 10%;
}

.ware-price > div > p, .ware-description > div > p {
    width: 100%;
    text-align: right;
    padding: 0 3%;
    height: auto;
    font-size: 13px;
}

.ware-property-text p > span {
    color: #5cc6d0;
}

.ware-property-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 10%;
}

.ware-property-button button {
    font-size: 13px;
}

.ware-comparison {
    height: 10%;
}

.similar-ware {
    padding: 5%;
}

.sub-similar-ware {
    text-align: right;
}

.sub-similar-ware h3 {
    text-align: right;
    color: #3c763d;
}

.main-similar-ware {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-similar-ware > div {
    padding: 1%;
}

.main-similar-ware > div > a {
    text-decoration: none;
    color: #979797;

}

.main-similar-ware > div > a > img {
    width: 100%;
    height: 250px;
}

/*store ware end*/

/*contact-us start*/
.contact-us {
    padding: 50px 0;
    direction: rtl;
}

.contact-us input {
    text-align: right;
    padding: 5%;
    font-weight: bold;
}

.contact-textarea textarea {
    width: 100%;
    height: 150px;
    padding: 3%;
    text-align: right;
}

.contact-us-submit .btn {
    width: 100% !important;
    padding: 2% !important;
}

.contact-us-slider {
    padding: 50px 0 50px 5%;
}

.carousel-item img {
    width: 100%;
}

.sub-address h4 {
    text-align: right;
}

.address-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-content > div {
    width: calc(100% / 3);
    padding: 5%;
}

.address-content > div h5, .address-content > div p {
    text-align: right;
}

.address-content > div p {
    font-size: 14px;
}

/*contact-us start*/

.contact-us-page {
    padding: 0 50px;
    background-color: #f7f7f7;
}

.address-content > div > div {
    padding: 5%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #fff;
}

.address-content > div > div:hover {
    border: 2px solid #ddd;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #19caaf;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

input:checked + .slider {
    background-color: #d2ae6d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #d2ae6d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lable-color-all, .lable-color-available {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.lable-color-all {
    background-color: #19caaf;
}

.lable-color-available {
    background-color: #d2ae6d;
}

.all-categories #amount {
    border: 0;
    color: darkslategray;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.extra-category {
    display: none;
}

/*---single product*/
#SingleProduct {
    margin-bottom: 20px;
    padding-bottom: 60px;
}

#SingleProduct .product-title {
    font-size: 16px;
    font-weight: bold
}

#SingleProduct .navigation-items ul li {
    display: inline-block;
    color: #ccc;
}

#SingleProduct .navigation-items ul li:last-child {
    color: #5cc6d0;
}

#SingleProduct .navigation-items ul li i {
    padding-left: 5px;
    padding-right: 5px;
}

#SingleProduct .single-product-frame {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 4px #ddd;
    border-radius: 2px;
}

#SingleProduct .head-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.product-price .price {
    color: #5cc6d0;
    font-size: 30px;
    font-weight: bold;
}

#SingleProduct .similar-img-div {
    width: 200px;
    display: block;
}

.product-model {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#SingleProduct .guarantee {
    margin-top: 10px;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    background-color: #f5f5f5;
    color: #c7c7c7;
    -webkit-appearance: none;
}

#SingleProduct .select-icon {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #19caaf;
}

#SingleProduct .product label {
    color: #7f8080;
    font-weight: bold
}

#SingleProduct .product-rate {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.stars {
    direction: ltr;
}
.product-color input[type=radio] {
    display: none;
}

.button-label {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    transition: all .3s;
    border: 0 solid #fff;

}

.color-label {
    border: 4px solid #fff;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
    padding: 3px !important;
    cursor: pointer !important;
    transition: all .3s;
    background-color: rgb(238, 238, 238);
    position: relative;
    top: 12px;
}

.favorite {
    background-color: #d2ae6d;
    border: 0;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: all .5s;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 10px;
    text-align: center;
    margin-left: 3px;
    cursor: pointer;
}

.favorite i,
.addtobasket i {
    color: #fff;
}

.addtobasket {
    background-color: #19caaf;
    border: 0;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: all .5s;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}

.favorite-title {
    display: none;
    transition: all .5s;
    color: #fff;
}

.basket-title {
    transition: all .5s;
    color: #fff;
    background: none;
    border: none;
}

.product-features ul li {
    text-align: right;
}

.product-features ul li:before {
    content: "\2022";
    color: #b7b7b7;
    padding-left: 10px;
}

/*---owl carousel*/

.similar-carousel .owl-carousel .owl-stage-outer {
    text-align: center;
    direction: ltr;
}

.nav-number {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    display: inline;
    Z-index: 20;
}

.navigation1 {
    width: 100%;
    text-align: center;
    padding-right: 0;
}

.navigation1 li {
    display: inline;
    width: 10px;
    height: 10px;
    font-size: 6px;
    margin-right: 4px;
    margin-left: 4px;
    list-style-type: none;
    /*position: relative;*/
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 100%;
    background-color: #9ba1a7;
    z-index: 1 !important;
}
.active1 {
    background-color: #19caaf !important;
    color: white !important;
}

#selected-li {
    display: none;
}

#selected-li:hover,
#selected-li:active,
#selected-li:focus {
    background-color: #19caaf !important;

}

.next, .prev {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    padding: 10px;
    cursor: pointer;
}

.next:hover i, .prev:hover i {
    color: #19caaf;
}

.fa-chevron-right {
    padding-right: 0px;
    color: #7c808b;
    line-height: 23px;
}

.fa-chevron-left {
    content: "\f053";
    text-align: center;
    padding-right: 4px;
    line-height: 20px;
    color: #7c808b;
}

.fa-chevron-left:before {
    content: "\f053";
    line-height: 23px;
}

.active-item {
    background-color: #19caaf;
}

.thumbnail-img.thumbNail.thumbnail-image {
    width: 90%;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #eaeaea;
    padding: 5px;
    box-shadow: 0 0 15px #eee;
    transition: 0.5s;
    cursor: pointer;
}

.thumbnail-img.thumbNail.thumbnail-image:hover {
    box-shadow: 0 0 5px grey;
}

.quick-compare {
    background-color: #158abf;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    width: 50%;
    float: left;
    margin-top: 30px;
    transition: 0.5s;
}

.quick-compare:hover {
    color: white;
    background: tan;
}

.main-title {
    font-size: 18px;
    font-weight: bold
}

.features {
    width: 100%;
}

.features-box {
    width: 33.3%;
    float: right;
}

.features-box-inside {
    background-color: #f5f5f5;
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #eee;
}

.features-box-inside img {
    width: 60px;
}

.features-box-inside i {
    color: #a9002b;
    font-size: 20px;

}

.similar-prod-div {
    width: 100% !important;
    text-align: center !important;
    cursor: pointer;
    padding: 5px;
}

.similar-prod-div .single {
    padding: 5px;
    transition: 0.5s;

}

.similar-prod-div img {
    width: 100% !important;
    margin: auto !important;
}

.similar-prod-div .title1 {
    color: #979797;
    font-weight: bold;
    margin-top: 20px;
}

.similar-prod-div .price {
    color: #5cc6d0;
    margin-top: 10px;
}
.tags ul li {
    display: inline-block;
    background-color: #eee;
    color: #000;
    font-size: .9em;
    padding: 2px 20px;
    border-radius: 2px;
    margin: 5px;
}

.active1 {
    color: #fff;
    background-color: #d2ae6d;
}

.info-tab ul li {
    padding: 0 5px;
    float: right;
    width: 33.3%;
    background-color: #f5f5f5;
    border-radius: 2px;
    color: #d2ae6d;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #dee2e6;

}

.product-description ul {
    padding: 10px;
}

.product-description ul li {
    list-style: initial;
    text-align: right;

}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.detail-table tr td {
    border-top: 0 !important;
    border-bottom: 0 !important;
    text-align: center;
    padding: 10px 0 !important;
    border-radius: 2px !important;
}

.detail-table tr:hover {
    background-color: #d2ae6d;
    font-weight: bold;
}

.comment-send {
    padding: 20px;
    background-color: #f7f7f7;
}

.cm-profile-name {
    color: #d2ae6d;
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.cm-textarea {
    box-shadow: 0 0 10px #ddd;
    border-radius: 2px;
    margin-top: 30px;
    padding: 10px;
    border: none;
}

.cm-textarea::placeholder {
    color: #969696;
}

.cm-situation {
    color: #969696;
    font-size: .8em;
    display: inline;
    float: right;
}

.comment-send-btn {
    background-color: #d2ae6d;
    border: 0;
    color: #fff;
    border-radius: 2px;
    padding: 6px 30px;
}

/*--- contact us*/
.side-bar {
    background-color: #eceeef;
    min-height: 100%;
    height: 94vh;
}

.side-bar .search-input {
    height: 30px !important;
}

.search-btn {
    height: 30px;
    float: left;
    top: 30px;
    position: relative;
    background: #19caaf;
    border: #19caaf;
    color: white;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.side-bar ul {
    line-height: 40px
}

.side-bar ul li {
    font-weight: bold;
}

.side-bar ul li a:hover {
    color: #19caaf;
}

.side-bar .side-logo img {
    width: 100%;
}

.send button {
    border: none;
    background: #19caaf;
    padding: 5px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}

.send button:hover {
    background: tan;
    color: white;
}

.compare {
    left: 0;
    position: relative;
    float: left;
}

.favorited {
    float: right;
    position: relative;
    right: 0;
}

#ContactUs .des-text {
    min-height: 120px;
}

#Blog .box {
    padding: 11px;
    box-shadow: 0 0 5px lightgrey;
    transition: 0.5s;
    cursor: pointer;
}

#Blog .box:hover {
    box-shadow: 0 0 15px grey;
}

#Blog .img-div {
    height: 230px
}

#Blog .box .image {

    height: 100%;
    width: 100%;
    max-height: 230px
}

#Blog .box .image {
    width: 100%;

}

#Blog .box .text {
    max-height: 70px;
    overflow: hidden;
    margin: 0;
}

#Blog .box .continue:hover {
    color: darkblue;
}

#ShoppingBasket .basket-img {
    width: 50px;
    height: 50px;
}

#ShoppingBasket .remove {
    cursor: pointer;
}

#ShoppingBasket .remove i {
    color: #e10f00;
    font-size: 15px;
}

#ShoppingBasket .addmore, #ShoppingBasket .removemore {

}

#ShoppingBasket .count-input.form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    width: unset;
    margin-bottom: 0;

    height: 28px !important;
    text-align: center;

}

#ShoppingBasket .count-input.form-control:focus {
    outline: none !important;
}

#ShoppingBasket .btn-number.add, #ShoppingBasket .btn-number.sub {
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#ShoppingBasket .btn-number.add {
    background: #19caaf;
    position: relative;
    left: -42px;
    z-index: 3;
}

#ShoppingBasket .btn-number.sub {
    background-color: #FF9800;
    position: relative;
    right: -44px;
    z-index: 3;
}

#ShoppingBasket .form-control.guarantee {
    height: 35px !important;
    font-size: 13px
}

/*--CompareProduct*/
#Compare .top-section {
    background-color: #efece2;
    padding-top: 20px;
}

#Compare .table tr:nth-child(even) {
    background: lightgrey;
}

#Compare .compare-add-to-basket button {
    background-color: #19caaf;
    border: 0;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

#Compare .compare-add-to-basket button:hover {
    background-color: tan;
}

/*---aboutUs*/
#AboutUs .about-logo {
    width: 30%;
}

.mouse-cover-canvas {
    left: 558px !important;
    top: 176px !important;
    border: none !important;
}

@keyframes basketShadow {
    from {
        box-shadow: none;

    }
    to {
        box-shadow: 0 0 13px #FFEB3B;
    }
}

@keyframes basketSize {
    0% {
        -webkit-transform: scale(1);

        transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1);
    }
}

.Sizeanimation {
    animation: basketSize 5s 1;

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        -ms-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    /*animation-timing-function: ease-out;*/
}

@media all and (max-width: 992px) {
    .sub-sort-select {
        display: block;
    }

    .sub-sort-right, .sub-sort-left {
        display: none;
    }

    .side {
        display: none;
    }

    .count-input.form-control {
        width: 100% !important;
    }

    #ShoppingBasket .addmore, .addmore button, #ShoppingBasket .removemore, .removemore button {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .ware-property-main {
        height: auto;
    }

    .ware-property-img, .ware-property-text {
        height: 500px;
    }

    #ShoppingBasket .table th,
    #ShoppingBasket .table td {
        font-size: 11px;
    }
}

@media (max-width: 568px) {
    .side-bar {
        font-size: 12px;
    }
}

.logout {
    margin-right: 120px;
}

.removeBtn {
    margin-right: 1rem;
    color: red;
}

/*--similar*/

#SingleProduct .carousel {
    margin: 50px auto;
    padding: 0 70px;
}

#SingleProduct .carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

#SingleProduct .carousel .thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#SingleProduct .carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

#SingleProduct .carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#SingleProduct .carousel .item h4 {
    font-size: 18px;
}

#SingleProduct .carousel .item h4, .carousel .item p, .carousel .item ul {
    margin-bottom: 5px;
}

#SingleProduct .carousel .item h4 {
    font-size: 18px;
}

#SingleProduct .carousel .item h4, .carousel .item p, .carousel .item ul {
    margin-bottom: 5px;
}

#SingleProduct .carousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

#SingleProduct .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
}

#SingleProduct .carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

#SingleProduct .carousel .carousel-control {
    height: 44px;
    width: 40px;
    background: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

#SingleProduct .carousel .carousel-control:hover {
    background: #78bf00;
    opacity: 1;
}

#SingleProduct .carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

#SingleProduct .carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

#SingleProduct .carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

#SingleProduct .carousel .carousel-control.left i {
    margin-left: -2px;
}

#SingleProduct .carousel .carousel-control.right i {
    margin-right: -4px;
}

#SingleProduct .carousel .carousel-indicators {
    bottom: -50px;
}

#SingleProduct .carousel .carousel-control.left i {
    margin-left: -2px;
}

#SingleProduct .carousel .carousel-control.right i {
    margin-right: -4px;
}

#SingleProduct .carousel .carousel-indicators {
    bottom: -50px;
}

#SingleProduct .carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

#SingleProduct .carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

#SingleProduct .carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

#SingleProduct .carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

#SingleProduct .carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

#SingleProduct .carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

#SingleProduct .carousel .wish-icon .fa-heart {
    color: #ff6161;
}

#SingleProduct .currentImage {
    max-height: 440px;
}

#SingleProduct .star-rating li {
    padding: 0;
}

#SingleProduct .carousel .wish-icon .fa-heart {
    color: #ff6161;
}

#SingleProduct .star-rating li {
    padding: 0;
}

#SingleProduct .star-rating i {
    font-size: 14px;
    color: #ffc000;
}

#SingleProduct .similar-item {
    text-align: center;
    /*padding: 10px;*/
    box-shadow: 0 0 10px #9E9E9E;
    background: #f6f6f6;
    border-radius: 5px;
}

#SingleProduct .similar-item img {
    width: 80%;
    border-radius: 5px;
}

.custom-text {
    font-weight: bold;
    font-size: 1.9em;
    border: 1px solid #cfcfcf;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #999;
    background: #fff;
}

.vue-star-rating-rating-text {
    display: none !important;
}

.zoom-on-hover .zoom {
    transform: scale(0.45) !important;
    /*left:0 !important;*/
    /*top:0 !important;*/
}

.magnifier-box .mouse-cover[data-v-546a21cf] {
    position: unset !important;
    background: unset !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    direction: ltr !important;
}

.mouse-cover-canvas {
    /*left: 560px !important;*/
    right: 28% !important;
    top: 176px !important;
    border: none !important;
}

.carousel-card {
    width: 100% !important;
    margin: auto !important;
    padding-top: 5px !important;
}

.carousel-card-container {
    margin: 0 !important;
    width: 100% !important;
    position: relative;
    left: 10%;
}

.carousel-card-item-card {
    width: 30% !important;
}

.carousel-card-arrow-right {
    right: 190px !important;
}

.carousel-card-arrow-left {
    left: -35px !important;
}



