<template>
    <div id="Login">
        <div class="materialContainer modal fade" id="modalLRForm">
            <div class="underlay-photo"></div>
            <div class="underlay-black"></div>
        </div>
        <div class="containe" style="direction: rtl">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center d-none" style="background: tan;color:white">ورود</div>

                        <div class="card-body">
                            <form @submit.prevent="Login()" >
                                <div class="form-group row">
                                    <label for="mobile" class="col-md-4 col-form-label text-md-right">شماره موبایل</label>
                                    <div class="col-md-6">
                                        <input v-model="mobile" id="mobile" type="mobile" class="form-control" name="mobile" value="" required autofocus>
                                        <span class="invalid-feedback" role="alert">
                                    </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">رمز عبور</label>

                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" name="password" v-model="password" required>
                                        <span class="invalid-feedback" role="alert">
                                    </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12 text-center">
                                        <div class="form-check">

                                            <input class="form-check-input" type="checkbox" name="remember" id="remember">
                                            <label class="form-check-label pr-3" for="remember">
                                                مرا به خاطر بسپار
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0 pb-2">
                                    <div class="col-12 send">
                                        <a class="forgotten" href="/ResetPassword">
                                            رمز عبور خود را فراموش کرده اید؟
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-12 send text-center">
                                        <button type="submit" class="btn btn-primary">ورود</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data(){
            return{
                mobile:'',
                password:'',
            }
        },
        methods:{
            Login(){
                let formdata = new FormData();
                formdata.append('mobile', this.mobile);
                formdata.append('password', this.password);
                axios.post('/login', formdata)
                    .then(response => {

                        window.location.reload()

                    })
                    .catch(error => {
                        console.log(error)
                        swal({
                            title: "عملیات ناموفق",
                            text: "لطفا دوباره تلاش کنید.",
                            icon: "error",
                            button: "تایید",
                        });
                    });
            }
        }
    }
</script>

<style scoped>

</style>