<template>
    <div id="Register">
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>
        <div class="container-fluid " style="direction: rtl">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header text-center d-none" style="background: tan;color:white">عضویت</div>
                        <div class="card-body">
                            <form @submit.prevent="Register()">

                                <div class="row">
                                    <div class="form-group col-md-6 text-right">
                                        <label for="name"
                                               class="col-form-label text-md-center">نام</label>

                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('mobile')}">
                                                <input id="name" type="text"
                                                       class="form-control"
                                                       name="name" v-model="name"  autofocus>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('name') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label for="last_name"
                                               class="col-form-label text-md-center">نام خانوادگی</label>
                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('mobile')}">
                                                <input id="last_name" type="text"
                                                       class="form-control"
                                                       name="last_name" v-model="last_name"  autofocus>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('last_name') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label for="mobile"
                                               class=" col-form-label text-md-center">شماره موبایل</label>
                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('mobile')}">

                                                <input id="mobile" type="text"
                                                       class="form-control"
                                                       name="mobile" v-model="mobile"  autofocus>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('mobile') }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label
                                                class=" col-form-label text-md-center">ایمیل</label>
                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('email')}">

                                                <input id="email" type="text"
                                                       class="form-control"
                                                       name="email" v-model="email" autofocus>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('email') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label
                                                class=" col-form-label text-md-center">تاریخ تولد</label>
                                        <div class="">
                                            <div class="form-group"
                                                 :class="{error: validation.hasError('birthday_date')}">
                                                <date-picker class="" v-model="birthday_date" type="date"
                                                             name="date"/>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('birthday_date') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label class=" col-form-label text-md-center">کشور
                                        </label>
                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('country_id')}">
                                                <select class="form-control" @change="SelectCountry($event)">
                                                    <option selected disabled>انتخاب کنید</option>
                                                    <option v-for="country in Country" :value="country.country_id">
                                                        {{country.country_name}}
                                                    </option>
                                                </select>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('country_id') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label
                                                class=" col-form-label text-md-center">استان
                                        </label>
                                        <div class=" ">
                                            <div class="form-group" :class="{error: validation.hasError('state_id')}">

                                                <select class="form-control" @change="SelectState($event)">
                                                    <option selected disabled>انتخاب کنید</option>
                                                    <option v-for="state in State" :value="state.state_id">
                                                        {{state.state_name}}
                                                    </option>
                                                </select>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('state_id') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label
                                                class=" col-form-label text-md-center">شهر
                                        </label>
                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('city_name')}">
                                                <select class="form-control" @change="SelectCity($event)">
                                                    <option selected disabled>انتخاب کنید</option>
                                                    <option v-for="city in City" :value="city.city_id">
                                                        {{city.city_name}}
                                                    </option>
                                                </select>
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('city_id') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label for="password"
                                               class=" col-form-label text-md-center">رمز عبور</label>

                                        <div class="">
                                            <div class="form-group" :class="{error: validation.hasError('password')}">
                                                <input v-model="password" id="password" type="password"
                                                       class="form-control"
                                                       name="password" >
                                                <div style="color: orangered" class="message">{{
                                                    validation.firstError('password') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 offset-md-12 send text-center">
                                        <button type="submit" class="btn ">
                                            عضویت
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker';
    import swal from 'sweetalert';

    export default {
        name: "Register",
        data() {
            return {
                name: '',
                last_name: '',
                mobile: '',
                email: '',
                birthday_date: '',
                country_id: '',
                state_id: '',
                city_id: '',
                password: '',
                repeat: '',
                submitted: false,

                Country: [],
                State: [],
                City: [],
            }
        },
        methods: {
            SelectCountry(event) {
                this.country_id = event.target.value;
                console.log(this.country_id,'country_id')
                axios.post(`/Option/state/${this.country_id}`)
                    .then(response => {
                        this.State = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.State)
            },
            SelectState(event) {
                this.state_id = event.target.value;
                console.log(this.state_id)
                axios.post(`/Option/city/${this.state_id}`)
                    .then(response => {
                        this.City = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            SelectCity(event) {
                this.city_id = event.target.value;
                console.log(this.city_id, 'city_id')
            },
            GetCountry() {
                axios.get('/Option/country')
                    .then(response => {
                        this.Country = response.data;

                    })
                    .catch(error => {
                        console.log(error)
                    });
                console.log(this.Country)
            },
            submit: function () {
                this.submitted = true;
                this.$validate()
                    .then(function (success) {
                        if (success) {
                            this.Register();
                        }
                    });
            },
            Register() {

                this.$validate()
                    .then(function (success) {
                        if (success) {
                            alert('Validation succeeded!');
                        }
                    });

                let formdata = new FormData();
                formdata.append('name', this.name);
                formdata.append('last_name', this.last_name);
                formdata.append('mobile', this.mobile);
                formdata.append('birthday_date', this.birthday_date);
                formdata.append('country_id', this.country_id);
                formdata.append('state_id', this.state_id);
                formdata.append('city_id', this.city_id);
                formdata.append('password', this.password);
                formdata.append('email', this.email);
                axios.post('/register', formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "ثبت نام با موفقیت انجام شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        window.location.reload()

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },

        },
        created() {
            this.GetCountry();
        },


        validators: {
            name: function (value) {
                return Validator.value(value).required('نام خود را وارد نمایید');
            },
            last_name: function (value) {
                return Validator.value(value).required('نام خانوادگی خود را وارد نمایید');
            },
            email: function (value) {
                return Validator.value(value).required('ایمیل خود را وارد نمایید').email('ایمیل صحیح نمی باشد');
            },
            mobile: function (value) {
                return Validator.value(value).required('شماره همراه خود را وارد نمایید').integer("شماره موبایل صحیح نمی باشد").digit().length(11, 'شماره موبایل می بایست 11 رقمی باشد');
            },
            birthday_date: function (value) {
                return Validator.value(value).required('تاریخ تولد خود را وارد نمایید');
            },
            country_id: function (value) {
                return Validator.value(value).required('کشور خود را وارد نمایید');
            },
            state_id: function (value) {
                return Validator.value(value).required('استان خود را وارد نمایید');
            },
            city_id: function (value) {
                return Validator.value(value).required('شهر خود را وارد نمایید');
            },
            password: function (value) {
                return Validator.value(value).required('رمز عبور خود را وارد نمایید').minLength(6, 'رمز عبور می بایست حداقل 6 کاراکتر باشد');
            },
            repeat: function (value) {
                return Validator.value(value).required('رمز عبور خود را وارد نمایید').minLength(6, 'رمز عبور می بایست حداقل 6 کاراکتر باشد');
            },

            'password, repeat': function (repeat, password) {
                if (this.submitted || this.validation.isTouched('repeat')) {
                    return Validator.value(repeat).required('عدم تطابق').match(password);
                }
            }
        },
        components: {
            datePicker: VuePersianDatetimePicker,
            swal
        },
    }
</script>

<style>
    .vpd-input-group label{
        -webkit-border-top-right-radius: 5px !important;
        -webkit-border-bottom-right-radius: 5px !important;
    }
    .vpd-icon-btn{
        background-color: #19caaf !important;
    }
</style>