<template>
   <div id="Reset">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-md-8">
                   <div class="card">
                       <div class="card-header d-none">بازیابی رمز عبور</div>

                       <div class="card-body">
                           <form>

                               <!--<input type="hidden" name="token" value="{{ $token }}">-->

                               <div class="form-group row">
                                   <label for="email" class="col-md-4 col-form-label text-md-right">ایمیل</label>

                                   <div class="col-md-6">
                                       <div class="form-group" :class="{error: validation.hasError('email')}">
                                           <input id="email" v-model="email" type="email" class="form-control" required
                                                  autofocus>
                                           <div style="color: orangered" class="message">{{
                                               validation.firstError('email') }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group row">
                                   <label for="password" class="col-md-4 col-form-label text-md-right">رمز عبور</label>

                                   <div class="col-md-6">
                                       <div class="form-group" :class="{error: validation.hasError('password')}">
                                           <input id="password" type="password" class="form-control" name="password"
                                                  v-model="password" required>

                                           <div style="color: orangered" class="message">{{
                                               validation.firstError('password') }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group row">
                                   <label for="password-confirm" class="col-md-4 col-form-label text-md-right">تکرار رمز
                                       عبور</label>

                                   <div class="col-md-6">
                                       <div class="form-group" :class="{error: validation.hasError('confirmation')}">
                                           <input id="password-confirm" type="password" class="form-control"
                                                  name="password_confirmation" v-model="confirmation" required>
                                           <div style="color: orangered" class="message">{{
                                               validation.firstError('confirmation') }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group row mb-0">
                                   <div class="col-md-6 offset-md-4">
                                       <button type="submit" class="btn btn-primary">
                                           بازیابی رمز
                                       </button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker';
    import swal from 'sweetalert';

    export default {
        name: "ResetPassword",
        data() {
            return {
                email: "",
                password: "",
                confirmation: ""
            }
        },
        methods: {
            Reset() {

                this.$validate()
                    .then(function (success) {
                        if (success) {
                            alert('Validation succeeded!');
                        }
                    });

                let formdata = new FormData();
                formdata.append('email', this.email);
                formdata.append('password', this.password);
                axios.post('/password/reset', formdata)
                    .then(response => {
                        swal({
                            title: "عملیات موفق",
                            text: "ثبت نام با موفقیت انجام شد.",
                            icon: "success",
                            button: "تایید",
                        });
                        window.location.reload()

                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
        },
        validators: {
            email: function (value) {
                return Validator.value(value).required('ایمیل خود را وارد نمایید').email('ایمیل صحیح نمی باشد');
            },

            password: function (value) {
                return Validator.value(value).required('رمز عبور خود را وارد نمایید').minLength(6, 'رمز عبور می بایست حداقل 6 کاراکتر باشد');
            },
            confirmation: function (value) {
                return Validator.value(value).required('رمز عبور خود را وارد نمایید').minLength(6, 'رمز عبور می بایست حداقل 6 کاراکتر باشد');
            },

            'password, confirmation': function (confirmation, password) {
                if (this.submitted || this.validation.isTouched('confirmation')) {
                    return Validator.value(confirmation).required('عدم تطابق').match(password);
                }
            }
        },
        components: {
            datePicker: VuePersianDatetimePicker,
            swal
        },
    }
</script>

<style scoped>

</style>